
#footer {
    width: 460px;
    min-width: 460px;
    background: linear-gradient(to bottom, var(--color-light), var(--color-white)); 
    color: #fff;
    font-family: 'Pretendard', sans-serif;
    margin-top: 0px;
    border-top: 3px solid var(--color-silver);
    z-index:initial;
}

#footer .footer-content {
    width: 100%;
    margin: auto;
    padding: 0px 0;
}


/* 인증로고 ***********************  */

.certification, .contact_info, .social_media_icon {
    padding: 10px;
}



#footer .footer-content .certification {font-family: 'pretendard';
    font-size: 12px;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 20px;
}

#footer .footer-content .certification-logo {
width: 50px; 
margin-right: 8px;
}
.certification .div_line{padding: 5px; border-bottom: 2px solid var(--color-white);}  
.certification .td1, .certification .td2 {display: inline-block;}


/* 주소,연락처 ***********************  */


#footer .footer-content .contact_info .add_text,
#footer .footer-content .contact_info .add_call,
#footer .footer-content .contact_info .add_fax,
#footer .footer-content .contact_info .add_name{
    font-size: 12px;
}
.add_text { font-size: 13px; font-weight: 500; color: var(--color-black); padding-left: 10px; }
.add_call { font-weight: 500; color: var(--color-red); padding-left: 10px; }
.add_fax {  font-weight: 500; color: var(--color-black); }
.add_name { font-weight: 500; color: var(--color-black); }


#footer .footer-content .add_btn a{
    display: inline-block; padding-right: 20px;
    font-size: 12px; font-weight: 400; color: var(--color-gray1); margin-top: 10px; padding-left: 10px; 
    
}
#footer .footer-content .add_btn a:hover{
    color: var(--color-ict);
    font-weight: 700;
}



/* Logo & SNS ***********************  */



#footer .footer-content .social_media_icon { position: relative; left: 0px; width: 460px;}
.sns_logo img{ width: 180px; margin-right: 50px;}
.sns_box1,.sns_box2,.sns_box3,.sns_box4{ width: 24%; display: inline-block; padding: 10px;}

    


.footer-hr{ background-color: var(--color-silver); opacity: 0.5; height: 2px; border: 0; margin-top: 5px; margin-bottom: 10px; }
   
    
.cell-text{ font-family: 'pretendard'; font-size: 14px; font-weight: 700; text-align: left; }
.cell-text .jijum{ font-family: 'pretendard'; font-size: 12px; font-weight: 700; text-align: left; color: var (--color-ict-s); }
.sns-tbl{ width: 460px; }
.sns-tbl .td1{ width: 70px; }


