
:root {

    /* Point Color */
    --color-ict-0: rgba(255, 61, 0, 0); 	/* #FF3D00 의 투명도 0 */
  	--color-ict-8: rgba(255, 61, 0, 0.08); /* #FF3D00 의 투명도 8 */
  	--color-ict-90: rgba(255, 61, 0, 0.9); /* #FF3D00 의 투명도 90 */
  	--color-ict: rgba(255, 61, 0, 1); 	/* #FF3D00 의 RGB값 */ 
    --color-edu: rgba(11, 37, 168, 1); /* #112576 */
	
	/* Main Color */
	--color-purple: #5734DA;	
	--color-blue: #1443d9;
	--color-mint: #1EB7CD;
  --color-silver: #DDDDDD;
	--color-gold: #fecb00;
  --color-naver: #03c75a;
  --color-nate: #ff2c2e;
	
	/* Sub Color  */
	--color-aqua: #55E7D3;
	--color-lime: #75EF75;
	--color-violet: #9384FD;
	--color-pink: #E390FD;
	--color-coral: #FD8F82;


	/* Black - Gray */
	--color-dark: #444444;
	--color-black: #222222;
	--color-gray1: #666666;
	--color-gray2: #999999;
	--color-light: #f8f8f8;

  /* add color */
  --color-val01: #ffcd9a;
	--color-val02: #75adfa;
	--color-val03: #9f7bff;
	--color-val04: #7ad0c7;
	--color-val05: #e3c0f8;
	--color-val06: #e9bacd;


  /* ********************************************* */

    
    /* ICT MAIN-Blue Color */
    --im50:#98e1fc;
    --im100:#85dbfe;
    --im200:#6ad2ff;
    --im300:#48c8ff;
    --im400:#19bcff;
    --im500:#00affa;
    --im600:#009fee;
    --im700:#008edf;
    --im800:#0080d3;
    --im900:#0078cc; /*  지정색   */

    
    /* ICT MAIN-Purple Color */
    --ip50:#f3d7fd;
    --ip100:#efc5fe;
    --ip200:#ebafff;
    --ip300:#e393fe;
    --ip400:#d678f6;
    --ip500:#be63ef;
    --ip600:#a055ea;
    --ip700:#8149e6;
    --ip800:#673ee2;
    --ip900:#5734da; /*  지정색   */



    /* ICT SUB(POINT & Success) Color */
    --is50: #FFF3E0;
    --is100: #FFE0B2;
    --is200: #FFCC80;
    --is300: #FFB74D;
    --is400: #FFA726;
    --is500: #FF9800; /*  기본색   */
    --is600: #FB8C00;
    --is700: #F57C00;
    --is800: #EF6C00;
    --is900: #E65100; /*  지정색   */


    /* ICT WARNING Color */
    --iw50: #FBE9E7;
    --iw100: #FFAB91;
    --iw200: #FF8A65;
    --iw300: #FF7043;
    --iw400: #FF5722;
    --iw500: #FF5722; /*  지정색   */
    --iw600: #F4511E;
    --iw700: #E64A19;
    --iw800: #D84315;
    --iw900: #BF360C;


    /* ICT SUBcolor NAVER */
    --isn50: #E7F6EB;
    --isn100: #C2E8CD;
    --isn200: #9BD8AD;
    --isn300: #70CA8C;    
    --isn400: #4DBE74;
    --isn500: #22B25D; /*  지정색   */  
    --isn600: #18A352;
    --isn700: #089146;
    --isn800: #00803B;
    --isn900: #006027;
    
    
    /* ICT SUBcolor MINT */
    --ism50: #d3f9f4;
    --ism100: #bcf7ed;
    --ism200: #9af4e5;
    --ism300: #6ff0db;
    --ism400: #3de9d1;
    --ism500: #1ce0c7; /*  기본색   */
    --ism600: #00d5bc;
    --ism700: #00c9b1;
    --ism800: #0cbea7;
    --ism900: #13b8a2; /*  지정색   */
    
    
    --font-family-sans-serif: "pretendard", "Roboto", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  /* Main color - Blue */
  .im50     { color:  var(--im50) }
  .im100    { color:  var(--im100) }
  .im200    { color:  var(--im200) }
  .im300    { color:  var(--im300) }
  .im400    { color:  var(--im400) }
  .im500    { color:  var(--im500) }
  .im600    { color:  var(--im600) }
  .im700    { color:  var(--im700) }
  .im800    { color:  var(--im800) }
  .im900    { color:  var(--im900) } /***** 지정색 ******/

  .imb50     { background-color:  var(--im50) }
  .imb100    { background-color:  var(--im100) }
  .imb200    { background-color:  var(--im200) }
  .imb300    { background-color:  var(--im300) }
  .imb400    { background-color:  var(--im400) }
  .imb500    { background-color:  var(--im500) }
  .imb600    { background-color:  var(--im600) }
  .imb700    { background-color:  var(--im700) }
  .imb800    { background-color:  var(--im800) }
  .imb900    { background-color:  var(--im900) } /***** 지정색 ******/




  /* Main color - Purple */
  .ip50     { color:  var(--ip50) }
  .ip100    { color:  var(--ip100) }
  .ip200    { color:  var(--ip200) }
  .ip300    { color:  var(--ip300) }
  .ip400    { color:  var(--ip400) }
  .ip500    { color:  var(--ip500) }/***** 보조색 ******/
  .ip600    { color:  var(--ip600) }
  .ip700    { color:  var(--ip700) }
  .ip800    { color:  var(--ip800) }
  .ip900    { color:  var(--ip900) }/***** 지정색 ******/
  /* Point color Background */
  .ipb50     { background-color:  var(--ip50) }
  .ipb100    { background-color:  var(--ip100) }
  .ipb200    { background-color:  var(--ip200) }
  .ipb300    { background-color:  var(--ip300) }
  .ipb400    { background-color:  var(--ip400) }
  .ipb500    { background-color:  var(--ip500) }/***** 보조색 ******/
  .ipb600    { background-color:  var(--ip600) }
  .ipb700    { background-color:  var(--ip700) }
  .ipb800    { background-color:  var(--ip800) }
  .ipb900    { background-color:  var(--ip900) }/***** 지정색 ******/





  /* Sub / Point / Success Color - Orange */
  .is50     { color:  var(--is50) }
  .is100    { color:  var(--is100) }
  .is200    { color:  var(--is200) }
  .is300    { color:  var(--is300) }
  .is400    { color:  var(--is400) }
  .is500    { color:  var(--is500) }/***** 보조색 ******/
  .is600    { color:  var(--is600) }
  .is700    { color:  var(--is700) }
  .is800    { color:  var(--is800) }
  .is900    { color:  var(--is900) }/***** 지정색 ******/
  /* Point color Background */
  .isb50     { background-color:  var(--is50) }
  .isb100    { background-color:  var(--is100) }
  .isb200    { background-color:  var(--is200) }
  .isb300    { background-color:  var(--is300) }
  .isb400    { background-color:  var(--is400) }
  .isb500    { background-color:  var(--is500) }/***** 보조색 ******/
  .isb600    { background-color:  var(--is600) }
  .isb700    { background-color:  var(--is700) }
  .isb800    { background-color:  var(--is800) }
  .isb900    { background-color:  var(--is900) }/***** 지정색 ******/


  /* Warning / 경고 / 에러 - red */
  .iw50     { color:  var(--iw50) }
  .iw100    { color:  var(--iw100) }
  .iw200    { color:  var(--iw200) }
  .iw300    { color:  var(--iw300) }
  .iw400    { color:  var(--iw400) }
  .iw500    { color:  var(--iw500) }/***** 보조색 ******/
  .iw600    { color:  var(--iw600) }
  .iw700    { color:  var(--iw700) }
  .iw800    { color:  var(--iw800) }
  .iw900    { color:  var(--iw900) }/***** 지정색 ******/
  /* Point color Background */
  .iwb50     { background-color:  var(--iw50) }
  .iwb100    { background-color:  var(--iw100) }
  .iwb200    { background-color:  var(--iw200) }
  .iwb300    { background-color:  var(--iw300) }
  .iwb400    { background-color:  var(--iw400) }
  .iwb500    { background-color:  var(--iw500) }/***** 보조색 ******/
  .iwb600    { background-color:  var(--iw600) }
  .iwb700    { background-color:  var(--iw700) }
  .iwb800    { background-color:  var(--iw800) }
  .iwb900    { background-color:  var(--iw900) }/***** 지정색 ******/



  /* SubColor Naver */
  .isn50     { color:  var(--isn50) }
  .isn100    { color:  var(--isn100) }
  .isn200    { color:  var(--isn200) }
  .isn300    { color:  var(--isn300) }
  .isn400    { color:  var(--isn400) }
  .isn500    { color:  var(--isn500) }/***** 보조색 ******/
  .isn600    { color:  var(--isn600) }
  .isn700    { color:  var(--isn700) }
  .isn800    { color:  var(--isn800) }
  .isn900    { color:  var(--isn900) }/***** 지정색 ******/
  /* SubColor Naver  Background */
  .isnb50     { background-color:  var(--isn50) }
  .isnb100    { background-color:  var(--isn100) }
  .isnb200    { background-color:  var(--isn200) }
  .isnb300    { background-color:  var(--isn300) }
  .isnb400    { background-color:  var(--isn400) }
  .isnb500    { background-color:  var(--isn500) }/***** 보조색 ******/
  .isnb600    { background-color:  var(--isn600) }
  .isnb700    { background-color:  var(--isn700) }
  .isnb800    { background-color:  var(--isn800) }
  .isnb900    { background-color:  var(--isn900) }/***** 지정색 ******/


  /* SubColor Mint */
  .ism50     { color:  var(--ism50) }
  .ism100    { color:  var(--ism100) }
  .ism200    { color:  var(--ism200) }
  .ism300    { color:  var(--ism300) }
  .ism400    { color:  var(--ism400) }
  .ism500    { color:  var(--ism500) }/***** 보조색 ******/
  .ism600    { color:  var(--ism600) }
  .ism700    { color:  var(--ism700) }
  .ism800    { color:  var(--ism800) }
  .ism900    { color:  var(--ism900) }/***** 지정색 ******/
  /* SubColor Naver  Background */
  .ismb50     { background-color:  var(--ism50) }
  .ismb100    { background-color:  var(--ism100) }
  .ismb200    { background-color:  var(--ism200) }
  .ismb300    { background-color:  var(--ism300) }
  .ismb400    { background-color:  var(--ism400) }
  .ismb500    { background-color:  var(--ism500) }/***** 보조색 ******/
  .ismb600    { background-color:  var(--ism600) }
  .ismb700    { background-color:  var(--ism700) }
  .ismb800    { background-color:  var(--ism800) }
  .ismb900    { background-color:  var(--ism900) }/***** 지정색 ******/
