@font-face {
    font-family: 'entypo';
    src: url('/assets/fonts/entypo.eot?71205724');
    src: url('/assets/fonts/entypo.eot?71205724#iefix') format('embedded-opentype'),
         url('/assets/fonts/entypo.woff?71205724') format('woff'),
         url('/assets/fonts/entypo.ttf?71205724') format('truetype'),
         url('/assets/fonts/entypo.svg?71205724#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'entypo';
      src: url('/assets/fonts/entypo.svg?71205724#entypo') format('svg');
    }
  }
  */
   
   [class^="entypo-"]:before, [class*=" entypo-"]:before {
    font-family: "entypo";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
       
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .entypo-note:before { content: '\e800'; } /* '��' */
  .entypo-logo-db:before { content: '\e91b'; } /* '在�' */
  .entypo-music:before { content: '\e802'; } /* '��' */
  .entypo-search:before { content: '\e803'; } /* '��' */
  .entypo-flashlight:before { content: '\e804'; } /* '��' */
  .entypo-mail:before { content: '\e805'; } /* '��' */
  .entypo-heart:before { content: '\e806'; } /* '��' */
  .entypo-heart-empty:before { content: '\e807'; } /* '��' */
  .entypo-star:before { content: '\e808'; } /* '��' */
  .entypo-star-empty:before { content: '\e809'; } /* '��' */
  .entypo-user:before { content: '\e80a'; } /* '��' */
  .entypo-users:before { content: '\e80b'; } /* '��' */
  .entypo-user-add:before { content: '\e80c'; } /* '��' */
  .entypo-video:before { content: '\e80d'; } /* '��' */
  .entypo-picture:before { content: '\e80e'; } /* '��' */
  .entypo-camera:before { content: '\e80f'; } /* '��' */
  .entypo-layout:before { content: '\e810'; } /* '��' */
  .entypo-menu:before { content: '\e811'; } /* '��' */
  .entypo-check:before { content: '\e812'; } /* '��' */
  .entypo-cancel:before { content: '\e813'; } /* '��' */
  .entypo-cancel-circled:before { content: '\e814'; } /* '��' */
  .entypo-cancel-squared:before { content: '\e815'; } /* '��' */
  .entypo-plus:before { content: '\e816'; } /* '��' */
  .entypo-plus-circled:before { content: '\e817'; } /* '��' */
  .entypo-plus-squared:before { content: '\e818'; } /* '��' */
  .entypo-minus:before { content: '\e819'; } /* '��' */
  .entypo-minus-circled:before { content: '\e81a'; } /* '��' */
  .entypo-minus-squared:before { content: '\e81b'; } /* '��' */
  .entypo-help:before { content: '\e81c'; } /* '��' */
  .entypo-help-circled:before { content: '\e81d'; } /* '��' */
  .entypo-info:before { content: '\e81e'; } /* '��' */
  .entypo-info-circled:before { content: '\e81f'; } /* '��' */
  .entypo-back:before { content: '\e820'; } /* '��' */
  .entypo-home:before { content: '\e821'; } /* '��' */
  .entypo-link:before { content: '\e822'; } /* '��' */
  .entypo-attach:before { content: '\e823'; } /* '��' */
  .entypo-lock:before { content: '\e824'; } /* '��' */
  .entypo-lock-open:before { content: '\e825'; } /* '��' */
  .entypo-eye:before { content: '\e826'; } /* '��' */
  .entypo-tag:before { content: '\e827'; } /* '��' */
  .entypo-bookmark:before { content: '\e828'; } /* '��' */
  .entypo-bookmarks:before { content: '\e829'; } /* '��' */
  .entypo-flag:before { content: '\e82a'; } /* '��' */
  .entypo-thumbs-up:before { content: '\e82b'; } /* '��' */
  .entypo-thumbs-down:before { content: '\e82c'; } /* '��' */
  .entypo-download:before { content: '\e82d'; } /* '��' */
  .entypo-upload:before { content: '\e82e'; } /* '��' */
  .entypo-upload-cloud:before { content: '\e82f'; } /* '��' */
  .entypo-reply:before { content: '\e830'; } /* '��' */
  .entypo-reply-all:before { content: '\e831'; } /* '��' */
  .entypo-forward:before { content: '\e832'; } /* '��' */
  .entypo-quote:before { content: '\e833'; } /* '��' */
  .entypo-code:before { content: '\e834'; } /* '��' */
  .entypo-export:before { content: '\e835'; } /* '��' */
  .entypo-pencil:before { content: '\e836'; } /* '��' */
  .entypo-feather:before { content: '\e837'; } /* '��' */
  .entypo-print:before { content: '\e838'; } /* '��' */
  .entypo-retweet:before { content: '\e839'; } /* '��' */
  .entypo-keyboard:before { content: '\e83a'; } /* '��' */
  .entypo-comment:before { content: '\e83b'; } /* '��' */
  .entypo-chat:before { content: '\e83c'; } /* '��' */
  .entypo-bell:before { content: '\e83d'; } /* '��' */
  .entypo-attention:before { content: '\e83e'; } /* '��' */
  .entypo-alert:before { content: '\e83f'; } /* '��' */
  .entypo-vcard:before { content: '\e840'; } /* '障�' */
  .entypo-address:before { content: '\e841'; } /* '障�' */
  .entypo-location:before { content: '\e842'; } /* '障�' */
  .entypo-map:before { content: '\e843'; } /* '障�' */
  .entypo-direction:before { content: '\e844'; } /* '障�' */
  .entypo-compass:before { content: '\e845'; } /* '障�' */
  .entypo-cup:before { content: '\e846'; } /* '障�' */
  .entypo-trash:before { content: '\e847'; } /* '障�' */
  .entypo-doc:before { content: '\e848'; } /* '障�' */
  .entypo-docs:before { content: '\e849'; } /* '障�' */
  .entypo-doc-landscape:before { content: '\e84a'; } /* '障�' */
  .entypo-doc-text:before { content: '\e84b'; } /* '障�' */
  .entypo-doc-text-inv:before { content: '\e84c'; } /* '障�' */
  .entypo-newspaper:before { content: '\e84d'; } /* '障�' */
  .entypo-book-open:before { content: '\e84e'; } /* '障�' */
  .entypo-book:before { content: '\e84f'; } /* '障�' */
  .entypo-folder:before { content: '\e850'; } /* '障�' */
  .entypo-archive:before { content: '\e851'; } /* '障�' */
  .entypo-box:before { content: '\e852'; } /* '障�' */
  .entypo-rss:before { content: '\e853'; } /* '障�' */
  .entypo-phone:before { content: '\e854'; } /* '障�' */
  .entypo-cog:before { content: '\e855'; } /* '障�' */
  .entypo-tools:before { content: '\e856'; } /* '障�' */
  .entypo-share:before { content: '\e857'; } /* '障�' */
  .entypo-shareable:before { content: '\e858'; } /* '障�' */
  .entypo-basket:before { content: '\e859'; } /* '障�' */
  .entypo-bag:before { content: '\e85a'; } /* '障�' */
  .entypo-calendar:before { content: '\e85b'; } /* '障�' */
  .entypo-login:before { content: '\e85c'; } /* '障�' */
  .entypo-logout:before { content: '\e85d'; } /* '障�' */
  .entypo-mic:before { content: '\e85e'; } /* '障�' */
  .entypo-mute:before { content: '\e85f'; } /* '障�' */
  .entypo-sound:before { content: '\e860'; } /* '障�' */
  .entypo-volume:before { content: '\e861'; } /* '障�' */
  .entypo-clock:before { content: '\e862'; } /* '障�' */
  .entypo-hourglass:before { content: '\e863'; } /* '障�' */
  .entypo-lamp:before { content: '\e864'; } /* '障�' */
  .entypo-light-down:before { content: '\e865'; } /* '障�' */
  .entypo-light-up:before { content: '\e866'; } /* '障�' */
  .entypo-adjust:before { content: '\e867'; } /* '障�' */
  .entypo-block:before { content: '\e868'; } /* '障�' */
  .entypo-resize-full:before { content: '\e869'; } /* '障�' */
  .entypo-resize-small:before { content: '\e86a'; } /* '障�' */
  .entypo-popup:before { content: '\e86b'; } /* '障�' */
  .entypo-publish:before { content: '\e86c'; } /* '障�' */
  .entypo-window:before { content: '\e86d'; } /* '障�' */
  .entypo-arrow-combo:before { content: '\e86e'; } /* '障�' */
  .entypo-down-circled:before { content: '\e86f'; } /* '障�' */
  .entypo-left-circled:before { content: '\e870'; } /* '障�' */
  .entypo-right-circled:before { content: '\e871'; } /* '障�' */
  .entypo-up-circled:before { content: '\e872'; } /* '障�' */
  .entypo-down-open:before { content: '\e873'; } /* '障�' */
  .entypo-left-open:before { content: '\e874'; } /* '障�' */
  .entypo-right-open:before { content: '\e875'; } /* '障�' */
  .entypo-up-open:before { content: '\e876'; } /* '障�' */
  .entypo-down-open-mini:before { content: '\e877'; } /* '障�' */
  .entypo-left-open-mini:before { content: '\e878'; } /* '障�' */
  .entypo-right-open-mini:before { content: '\e879'; } /* '障�' */
  .entypo-up-open-mini:before { content: '\e87a'; } /* '障�' */
  .entypo-down-open-big:before { content: '\e87b'; } /* '障�' */
  .entypo-left-open-big:before { content: '\e87c'; } /* '障�' */
  .entypo-right-open-big:before { content: '\e87d'; } /* '障�' */
  .entypo-up-open-big:before { content: '\e87e'; } /* '障�' */
  .entypo-down:before { content: '\e87f'; } /* '障�' */
  .entypo-left:before { content: '\e880'; } /* '再�' */
  .entypo-right:before { content: '\e881'; } /* '再�' */
  .entypo-up:before { content: '\e882'; } /* '再�' */
  .entypo-down-dir:before { content: '\e883'; } /* '再�' */
  .entypo-left-dir:before { content: '\e884'; } /* '再�' */
  .entypo-right-dir:before { content: '\e885'; } /* '再�' */
  .entypo-up-dir:before { content: '\e886'; } /* '再�' */
  .entypo-down-bold:before { content: '\e887'; } /* '再�' */
  .entypo-left-bold:before { content: '\e888'; } /* '再�' */
  .entypo-right-bold:before { content: '\e889'; } /* '再�' */
  .entypo-up-bold:before { content: '\e88a'; } /* '再�' */
  .entypo-down-thin:before { content: '\e88b'; } /* '再�' */
  .entypo-left-thin:before { content: '\e88c'; } /* '再�' */
  .entypo-right-thin:before { content: '\e88d'; } /* '再�' */
  .entypo-note-beamed:before { content: '\e801'; } /* '��' */
  .entypo-ccw:before { content: '\e88f'; } /* '再�' */
  .entypo-cw:before { content: '\e890'; } /* '再�' */
  .entypo-arrows-ccw:before { content: '\e891'; } /* '再�' */
  .entypo-level-down:before { content: '\e892'; } /* '再�' */
  .entypo-level-up:before { content: '\e893'; } /* '再�' */
  .entypo-shuffle:before { content: '\e894'; } /* '再�' */
  .entypo-loop:before { content: '\e895'; } /* '再�' */
  .entypo-switch:before { content: '\e896'; } /* '再�' */
  .entypo-play:before { content: '\e897'; } /* '再�' */
  .entypo-stop:before { content: '\e898'; } /* '再�' */
  .entypo-pause:before { content: '\e899'; } /* '再�' */
  .entypo-record:before { content: '\e89a'; } /* '再�' */
  .entypo-to-end:before { content: '\e89b'; } /* '再�' */
  .entypo-to-start:before { content: '\e89c'; } /* '再�' */
  .entypo-fast-forward:before { content: '\e89d'; } /* '再�' */
  .entypo-fast-backward:before { content: '\e89e'; } /* '再�' */
  .entypo-progress-0:before { content: '\e89f'; } /* '再�' */
  .entypo-progress-1:before { content: '\e8a0'; } /* '再�' */
  .entypo-progress-2:before { content: '\e8a1'; } /* '再�' */
  .entypo-progress-3:before { content: '\e8a2'; } /* '再�' */
  .entypo-target:before { content: '\e8a3'; } /* '再�' */
  .entypo-palette:before { content: '\e8a4'; } /* '再�' */
  .entypo-list:before { content: '\e8a5'; } /* '再�' */
  .entypo-list-add:before { content: '\e8a6'; } /* '再�' */
  .entypo-signal:before { content: '\e8a7'; } /* '再�' */
  .entypo-trophy:before { content: '\e8a8'; } /* '再�' */
  .entypo-battery:before { content: '\e8a9'; } /* '再�' */
  .entypo-back-in-time:before { content: '\e8aa'; } /* '再�' */
  .entypo-monitor:before { content: '\e8ab'; } /* '再�' */
  .entypo-mobile:before { content: '\e8ac'; } /* '再�' */
  .entypo-network:before { content: '\e8ad'; } /* '再�' */
  .entypo-cd:before { content: '\e8ae'; } /* '再�' */
  .entypo-inbox:before { content: '\e8af'; } /* '再�' */
  .entypo-install:before { content: '\e8b0'; } /* '再�' */
  .entypo-globe:before { content: '\e8b1'; } /* '再�' */
  .entypo-cloud:before { content: '\e8b2'; } /* '再�' */
  .entypo-cloud-thunder:before { content: '\e8b3'; } /* '再�' */
  .entypo-flash:before { content: '\e8b4'; } /* '再�' */
  .entypo-moon:before { content: '\e8b5'; } /* '再�' */
  .entypo-flight:before { content: '\e8b6'; } /* '再�' */
  .entypo-paper-plane:before { content: '\e8b7'; } /* '再�' */
  .entypo-leaf:before { content: '\e8b8'; } /* '再�' */
  .entypo-lifebuoy:before { content: '\e8b9'; } /* '再�' */
  .entypo-mouse:before { content: '\e8ba'; } /* '再�' */
  .entypo-briefcase:before { content: '\e8bb'; } /* '再�' */
  .entypo-suitcase:before { content: '\e8bc'; } /* '再�' */
  .entypo-dot:before { content: '\e8bd'; } /* '再�' */
  .entypo-dot-2:before { content: '\e8be'; } /* '再�' */
  .entypo-dot-3:before { content: '\e8bf'; } /* '再�' */
  .entypo-brush:before { content: '\e8c0'; } /* '哉�' */
  .entypo-magnet:before { content: '\e8c1'; } /* '哉�' */
  .entypo-infinity:before { content: '\e8c2'; } /* '哉�' */
  .entypo-erase:before { content: '\e8c3'; } /* '哉�' */
  .entypo-chart-pie:before { content: '\e8c4'; } /* '哉�' */
  .entypo-chart-line:before { content: '\e8c5'; } /* '哉�' */
  .entypo-chart-bar:before { content: '\e8c6'; } /* '哉�' */
  .entypo-chart-area:before { content: '\e8c7'; } /* '哉�' */
  .entypo-tape:before { content: '\e8c8'; } /* '哉�' */
  .entypo-graduation-cap:before { content: '\e8c9'; } /* '哉�' */
  .entypo-language:before { content: '\e8ca'; } /* '哉�' */
  .entypo-ticket:before { content: '\e8cb'; } /* '哉�' */
  .entypo-water:before { content: '\e8cc'; } /* '哉�' */
  .entypo-droplet:before { content: '\e8cd'; } /* '哉�' */
  .entypo-air:before { content: '\e8ce'; } /* '哉�' */
  .entypo-credit-card:before { content: '\e8cf'; } /* '哉�' */
  .entypo-floppy:before { content: '\e8d0'; } /* '哉�' */
  .entypo-clipboard:before { content: '\e8d1'; } /* '哉�' */
  .entypo-megaphone:before { content: '\e8d2'; } /* '哉�' */
  .entypo-database:before { content: '\e8d3'; } /* '哉�' */
  .entypo-drive:before { content: '\e8d4'; } /* '哉�' */
  .entypo-bucket:before { content: '\e8d5'; } /* '哉�' */
  .entypo-thermometer:before { content: '\e8d6'; } /* '哉�' */
  .entypo-key:before { content: '\e8d7'; } /* '哉�' */
  .entypo-flow-cascade:before { content: '\e8d8'; } /* '哉�' */
  .entypo-flow-branch:before { content: '\e8d9'; } /* '哉�' */
  .entypo-flow-tree:before { content: '\e8da'; } /* '哉�' */
  .entypo-flow-line:before { content: '\e8db'; } /* '哉�' */
  .entypo-flow-parallel:before { content: '\e8dc'; } /* '哉�' */
  .entypo-rocket:before { content: '\e8dd'; } /* '哉�' */
  .entypo-gauge:before { content: '\e8de'; } /* '哉�' */
  .entypo-traffic-cone:before { content: '\e8df'; } /* '哉�' */
  .entypo-cc:before { content: '\e8e0'; } /* '哉�' */
  .entypo-cc-by:before { content: '\e8e1'; } /* '哉�' */
  .entypo-cc-nc:before { content: '\e8e2'; } /* '哉�' */
  .entypo-cc-nc-eu:before { content: '\e8e3'; } /* '哉�' */
  .entypo-cc-nc-jp:before { content: '\e8e4'; } /* '哉�' */
  .entypo-cc-sa:before { content: '\e8e5'; } /* '哉�' */
  .entypo-cc-nd:before { content: '\e8e6'; } /* '哉�' */
  .entypo-cc-pd:before { content: '\e8e7'; } /* '哉�' */
  .entypo-cc-zero:before { content: '\e8e8'; } /* '哉�' */
  .entypo-cc-share:before { content: '\e8e9'; } /* '哉�' */
  .entypo-cc-remix:before { content: '\e8ea'; } /* '哉�' */
  .entypo-github:before { content: '\e8eb'; } /* '哉�' */
  .entypo-github-circled:before { content: '\e8ec'; } /* '哉�' */
  .entypo-flickr:before { content: '\e8ed'; } /* '哉�' */
  .entypo-flickr-circled:before { content: '\e8ee'; } /* '哉�' */
  .entypo-vimeo:before { content: '\e8ef'; } /* '哉�' */
  .entypo-vimeo-circled:before { content: '\e8f0'; } /* '哉�' */
  .entypo-twitter:before { content: '\e8f1'; } /* '哉�' */
  .entypo-twitter-circled:before { content: '\e8f2'; } /* '哉�' */
  .entypo-facebook:before { content: '\e8f3'; } /* '哉�' */
  .entypo-facebook-circled:before { content: '\e8f4'; } /* '哉�' */
  .entypo-facebook-squared:before { content: '\e8f5'; } /* '哉�' */
  .entypo-gplus:before { content: '\e8f6'; } /* '哉�' */
  .entypo-gplus-circled:before { content: '\e8f7'; } /* '哉�' */
  .entypo-pinterest:before { content: '\e8f8'; } /* '哉�' */
  .entypo-pinterest-circled:before { content: '\e8f9'; } /* '哉�' */
  .entypo-tumblr:before { content: '\e8fa'; } /* '哉�' */
  .entypo-tumblr-circled:before { content: '\e8fb'; } /* '哉�' */
  .entypo-linkedin:before { content: '\e8fc'; } /* '哉�' */
  .entypo-linkedin-circled:before { content: '\e8fd'; } /* '哉�' */
  .entypo-dribbble:before { content: '\e8fe'; } /* '哉�' */
  .entypo-dribbble-circled:before { content: '\e8ff'; } /* '哉�' */
  .entypo-stumbleupon:before { content: '\e900'; } /* '在�' */
  .entypo-stumbleupon-circled:before { content: '\e901'; } /* '在�' */
  .entypo-lastfm:before { content: '\e902'; } /* '在�' */
  .entypo-lastfm-circled:before { content: '\e903'; } /* '在�' */
  .entypo-rdio:before { content: '\e904'; } /* '在�' */
  .entypo-rdio-circled:before { content: '\e905'; } /* '在�' */
  .entypo-spotify:before { content: '\e906'; } /* '在�' */
  .entypo-spotify-circled:before { content: '\e907'; } /* '在�' */
  .entypo-qq:before { content: '\e908'; } /* '在�' */
  .entypo-instagram:before { content: '\e909'; } /* '在�' */
  .entypo-dropbox:before { content: '\e90a'; } /* '在�' */
  .entypo-evernote:before { content: '\e90b'; } /* '在�' */
  .entypo-flattr:before { content: '\e90c'; } /* '在�' */
  .entypo-skype:before { content: '\e90d'; } /* '在�' */
  .entypo-skype-circled:before { content: '\e90e'; } /* '在�' */
  .entypo-renren:before { content: '\e90f'; } /* '在�' */
  .entypo-sina-weibo:before { content: '\e910'; } /* '在�' */
  .entypo-paypal:before { content: '\e911'; } /* '在�' */
  .entypo-picasa:before { content: '\e912'; } /* '在�' */
  .entypo-soundcloud:before { content: '\e913'; } /* '在�' */
  .entypo-mixi:before { content: '\e914'; } /* '在�' */
  .entypo-behance:before { content: '\e915'; } /* '在�' */
  .entypo-google-circles:before { content: '\e916'; } /* '在�' */
  .entypo-vkontakte:before { content: '\e917'; } /* '在�' */
  .entypo-smashing:before { content: '\e918'; } /* '在�' */
  .entypo-sweden:before { content: '\e919'; } /* '在�' */
  .entypo-db-shape:before { content: '\e91a'; } /* '在�' */
  .entypo-up-thin:before { content: '\e88e'; } /* '再�' */