.progress_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    /* background: radial-gradient(#1D3BA5, #252B51); */
}

.card-container {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* 카드 사이의 간격 */

}

.card {
    /* border: 1px solid red; */
    position: relative;
    width: 290px;
    height: 220px;
    margin: 10px; /* 카드 사이의 마진 설정 */
}

.progress_title {
    font-family: 'pretendard';
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    text-align: left;
    line-height: 1.4;
    background-color: var(--color-silver);
    border: 1px solid var(--main-color-blue);
    border-radius: 10px;
    padding: 10px;
    
    width: 230px;
    position: relative;
    top: 0px;
    left: 30px;
}

.progress_title .text {
    font-size: 15px;
}

.progress_title .text2 {
    font-size: 12px;
}

.progress_title .text3 {
    font-size: 15px;
}

.progress_title .text2 {
    font-size: 12px;
}

.rating {

    position: relative;
    width: 100%;
    height: 100%;
}

.rating .block {
    position: absolute;
    width: 3px;
    height: 10px;
    background: var(--color-black);
    left: 50%;
    transform-origin: 50% 100px;
    opacity: 1; /* 항상 가득 차 있도록 설정 */
}

.rating h2 {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
}

.rating h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.rating h2 sub {
    font-size: 1.5em;
    font-weight: 300;
}