
.main_rolling{
    width: 100%;
    overflow: hidden;
}
.roll-wrap {
    position: relative;
    width: 100vw;
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
}
.rolling-list {
    position: relative;
    display: flex;
    left: 0;
    overflow: hidden;
}
.rolling-list ul {
    display: flex;
    padding: 0;
    margin: 0;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.rolling-list:not(.reverse) ul {
    animation-name: rollingleft;
}
.rolling-list.reverse ul {
    animation-name: rollingright;
}
.rolling-list ul li {
    list-style-type: none;
}
.rolling-list ul li img{
    width: 180px;
    margin: 20px;
}

@keyframes rollingleft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes rollingright {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}7