@charset "utf-8";
/********** 메인 css **********/

/********** 메인배너 - 395 > 470 > 524 **********/
#content {overflow:hidden; padding-bottom:50px;}
#body_main {position:relative; overflow:initial; height:524px;}
#rolling_page {height:524px; float:left; width:100%; position:relative;}

.banner {display:none; box-sizing:border-box; position:absolute; height:524px; width:100%; background-size: contain;background-size: auto 100%; background-position:center; background-repeat:no-repeat; text-align:left;}
.banner *, .banner *::before, .banner *::after {box-sizing:inherit;}
.banner .banner_text {width:1130px; margin:0 auto; padding:95px 55px 0;}
.banner_text .banner_title_letter {display:none;}
.banner_text .banner_title {height:68px; font-weight:700; font-size:60px; line-height:68px; letter-spacing:0;}
/* .banner_text .banner_title2 {opacity:0; animation-name:typing; animation-fill-mode:forwards; animation-iteration-count:1;} */
/* .banner_text .banner_title2 span {height:68px; opacity:0; color:inherit; font-weight:700; font-size:60px; line-height:68px; letter-spacing:0;} */
/* .banner_text .banner_title2 span {animation-name:typing; animation-duration:0.5s; animation-fill-mode:forwards; animation-iteration-count:1;} */
.banner_text .banner_subtitle {height:100px; padding:22px 0 47px 8px; font-weight:400; font-size:24px; letter-spacing:0;}
.banner_text .banner_button {position:relative; display:inline-block; /* height:55px; */ border-radius:28px; padding:0 30px; font-weight:600; font-size:18px; line-height:55px; letter-spacing:-0.04em;}
.banner_text .banner_button::before {content:""; position:absolute; top:0; left:0; width:100%; height:100%; border-radius:28px; box-shadow:0px 10px 24px 0px rgba(31, 31, 31, 0.2); mix-blend-mode:multiply;}

@keyframes typing {
  100% {opacity:1;} 
}

#pager {position:absolute; left:0; right:0; width:1300px; margin:0 auto; text-align:center;}
#pager .pager_position {display:inline-block; position:absolute; top:480px; left:50%; transform:translateX(-50%); vertical-align:middle;}
#slick-pause, #slick-start {display:inline-block; width:19.5px; height:12px; text-indent:-9999px;  cursor:pointer; margin-left:5px;}
#slick-pause {background:url(../images/main/main_renewal/main_rolling_stop.png)no-repeat center center;}
#slick-start {background:url(../images/main/main_renewal/main_rolling_play.png)no-repeat center center; display:none;}
#pager .banner_left, #pager .banner_right {position:absolute; display:block; padding:0; border:none; outline:none; font-size:0; cursor:pointer;}
#pager .banner_left {left:0; top:227px; width:70px; height:70px; background: url(../images/main/main_renewal/sub/sub02/arrow_prev.png) no-repeat; cursor:pointer;}
#pager .banner_right {right:0; top:227px; width:70px; height:70px; background: url(../images/main/main_renewal/sub/sub02/arrow_next.png) no-repeat; cursor:pointer;}


#pager .pager_position .banner_control {float:left; width:40px; height:39px; cursor:pointer;}
#rolling_page .rolling_bottons {position:relative; top:-400px; left:950px;}
#mov{ position:absolute; top:188px; z-index:999; float:left; left: 50%; margin-left: 560px; }
#next_banner{ position:relative; margin-bottom:5px;}
.rolling_conts p span span.currName { position: relative; top: -5px; color: #FFFFFF; font-size: 18px;}

#main_bigblock1_pager{ display: block; }
#main_bigblock1_pager a { display: block; float: left; width: 12px; height: 12px; cursor: pointer; background: #dfe6f1; margin: 0 4.5px; border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out;
-ms-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
#main_bigblock1_pager a:after{ content:""; display: table; clear: both; }
#main_bigblock1_pager a.active{background: #e93436; width: 30px;}
#main_bigblock1_pager span.start_icon,#main_bigblock1_pager span.stop_icon{ vertical-align: text-top; margin:0 2px; cursor:pointer; }

#main_bigblock1_pager .rolling_on{ background:url(../images/main/main_rolling2_off.png); }
#main_bigblock1_pager .rolling_off { background: url(../images/main/main_rolling1_on.html); } 


/********** 메인배너 아래 퀵메뉴 **********/
.quick_menu {overflow:hidden; width:100%; height:100px; border-bottom:1px solid #dae0e9; box-shadow: 0px 1px 9px rgba(0,0,0,0.08); background:#fff;}
.quick_menu .quick_container {width:1000px; height:100%; margin:0 auto; padding:17px 0;}
.quick_menu .quick_container ul.quick_ul {display:inline-block; height:100%;}
.quick_menu .quick_container ul.quick_ul li {display:inline-block; height:100%; padding: 6px 36px 0; text-align:center; vertical-align:middle;}
.quick_menu .quick_container ul.quick_ul li::after {content:""; float:right; width:1px; height:45px; margin: -55px -39px 0 0; background:var(--common-border);}
.quick_menu .quick_container ul.quick_ul li a {display:block; font-size: 15px; font-weight:500; color:#222;}
.quick_menu .quick_container ul.quick_ul li a img {width: auto; margin-bottom: 6px;}
.quick_menu .quick_container ul.quick_ul li:last-child img {margin-bottom: 10px;}
.quick_menu .icon_wrap {overflow:hidden; float:left; width:54px; margin:6px 10px 0 0;}
.quick_menu .icon_wrap .actionCon {position:absolute; top:26px; left:28px;}
.quick_menu .fixed_call {position:absolute; display:inline; width:auto; margin-left:35px; cursor: pointer;}
.quick_menu .fixed_call ul {float:left; margin-top:4px;}
.quick_menu .fixed_call ul li:first-child {color:#fe1700; font-size:30px; font-weight:800;}
.quick_menu .fixed_call ul li:last-child {padding-left:2px; color:#0a0d1c; font-size:13px; line-height:0.4;}


/********** 메인 공통 **********/
:root {
	--main-color-blue: #164ad0;
	--main-color-cyan: #34dcfa;
}
.main_wrap {cursor: default;}
.main_wrap .content_section {position: relative; overflow: visible;}
.main_wrap .btn_main {position: absolute; /* top: 120px; */bottom: 50px; right: 0; border: 1px solid var(--color-ict); background-color: transparent; color: var(--color-ict); line-height: 52px; transition: all .25s ease;}
/* .main_wrap .btn_main::after {content: ''; position: absolute; top: 20px; right: 15px; width: 6px; height: 12px; background: url(/resources/images/common/btn_arrow_right_blue.svg); background-repeat: no-repeat; background-position: center; background-size: contain; transition: all .25s ease;} */
.main_wrap .btn_main::after {content: ''; float: right; width: 6px; height: 12px; margin: 20px 15px 0 -15px; background: url(h../img/icons/btn_arrow_right_blue.png); background-repeat: no-repeat; background-position: center; background-size: contain; transition: all .25s ease;}
.main_wrap .btn_main:hover {background-color:  var(--color-ict); color: #fff;}
.main_wrap .btn_main:hover::after {background: url(../img/icons/btn_arrow_right_blue.png);}

	/* 교육과정, 전국 지점 안내 아이콘 animation */
@keyframes main_icon_move {
  14% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  28% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  42% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  56% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  70% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  84%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/********** 교육과정 **********/
.main_curriculum_section {padding-bottom: 100px;padding-bottom: 30px;}
.main_curriculum .curriculum_list {display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, 270px); gap: 14px; grid-template-areas:
"curriculum_item1 curriculum_item2 curriculum_item3 curriculum_item4" 
"curriculum_item5 curriculum_item6 curriculum_item7 curriculum_item8";}
.main_curriculum .curriculum_item {position: relative; overflow: hidden; cursor: pointer; height: 450px;}

.curriculum_item_light .icon_wrap {overflow:hidden; float:left; width: 50px; padding: 0px 0px 0 0;}

.main_curriculum .curriculum_item::before {content: ''; position: absolute; 
    top: 0; left: 0; z-index: 1; width: 100%; height: 100%; border-style: solid; border-color: #cddce5;}
.main_curriculum .curriculum_item:hover .curriculum_item_border {opacity: 1;}
.main_curriculum .curriculum_item .curriculum_item_border {position: absolute; z-index: 2; opacity: 0;}
/* .main_curriculum .curriculum_item .curriculum_item_border:nth-of-type(1) {top: 0; left: 0; width: 100%; height: 2px; animation: curriculum_item_border1 1.5s linear infinite;}
.main_curriculum .curriculum_item .curriculum_item_border:nth-of-type(2) {top: -100%; right: 0; width: 2px; height: 100%; animation: curriculum_item_border2 1.5s linear infinite; animation-delay: .375s;}
.main_curriculum .curriculum_item .curriculum_item_border:nth-of-type(3) {bottom: 0; right: 0; width: 100%; height: 2px; animation: curriculum_item_border3 1.5s linear infinite; animation-delay: .75s;}
.main_curriculum .curriculum_item .curriculum_item_border:nth-of-type(4) {bottom: -100%; left: 0; width: 2px; height: 100%; animation: curriculum_item_border4 1.5s linear infinite; animation-delay: 1.125s;} */
@keyframes curriculum_item_border1 {
    50%,100% { left: 100%; }
}
@keyframes curriculum_item_border2 {
    0% { top: -100%; }
    50%,100% { top: 100%; }
}
@keyframes curriculum_item_border3 {
    0% { right: -100%; }
    50%,100% { right: 100%; }
}
@keyframes curriculum_item_border4 {
    0% { bottom: -100%; }
    50%,100% { bottom: 100%; }
}

	/* 전체 개강일정, 개발자, 정보보안 과정 */
.main_curriculum .curriculum_item_dark::before {border-width: 0;}
.main_curriculum .curriculum_item_dark:hover::before {border-width: 2px; border-color: var(--main-color-cyan);}
.main_curriculum .curriculum_item_dark {padding: 40px 25px 0 30px;}
.main_curriculum .curriculum_item_dark .content_explain {color: var(--main-color-cyan); font-family: 'Bahnschrift'; position: relative; }
.main_curriculum .curriculum_item_dark .content_title {padding-bottom: 20px; font-weight: 600; color: #fff; position: relative;}
.main_curriculum .curriculum_item_dark .content_title + p {color: #fff; position: relative;}

/*전체 개강일정 버튼*/
#main_curriculum_btn{
	margin-top: 50px;
	height: 200px;
}
#main_curriculum_btn .main_curriculum_btnlist{
	height: 200px;
}
#main_curriculum_btn .main_curriculum_btnlist .btnlist_btn{
	margin-bottom: 30px;
}
#main_curriculum_btn .main_curriculum_btnlist .btnlist_btn a{
	border: 1px solid #fff;
	height: 50px;
	border-radius: 24px;
	padding: 10px 20px;
	color: #fff;
	font-size: 15px;
}

		/* 개발자, 정보보안 공통 */
.main_curriculum .curriculum_item_dark:not(.curriculum_item1) .curriculum_item_border:nth-of-type(1) {background: linear-gradient(90deg, transparent, #5534ff 30%);}
.main_curriculum .curriculum_item_dark:not(.curriculum_item1) .curriculum_item_border:nth-of-type(2) {background: linear-gradient(180deg, transparent, #5534ff 40%);}
.main_curriculum .curriculum_item_dark:not(.curriculum_item1) .curriculum_item_border:nth-of-type(3) {background: linear-gradient(270deg, transparent, #5534ff 30%);}
.main_curriculum .curriculum_item_dark:not(.curriculum_item1) .curriculum_item_border:nth-of-type(4) {background: linear-gradient(360deg, transparent, #5534ff 40%);}

.main_curriculum .curriculum_item_bg {position: absolute; top: 1%; right: 0; width: 50%; height: 98%;}
.main_curriculum .curriculum_item_bg .star {position: absolute; border-radius: 50%; background-color: #fff7; animation-timing-function: linear; animation-iteration-count: infinite;}
.main_curriculum .curriculum_item:hover .curriculum_item_bg .star {animation-name: star;}
.main_curriculum .curriculum_item_bg .star.style1 {animation-duration: 0.5s;}
.main_curriculum .curriculum_item_bg .star.style2 {animation-duration: 1s;}
.main_curriculum .curriculum_item_bg .star.style3 {animation-duration: 1.5s;}
.main_curriculum .curriculum_item_bg .star.size1 {width: 1px; height: 1px;}
.main_curriculum .curriculum_item_bg .star.size2 {width: 1.5px; height: 1.5px;}
.main_curriculum .curriculum_item_bg .star.size3 {width: 2px; height: 2px;}
.main_curriculum .curriculum_item_bg .star.opacity1 {opacity: 1;}
.main_curriculum .curriculum_item_bg .star.opacity2 {opacity: .6;}
.main_curriculum .curriculum_item_bg .star.opacity3 {opacity: .2;}
@keyframes star {
	0% {
		box-shadow: 0 0 8px 0px rgba(255, 255, 255, 0.05);
	}t
	20% {
		opacity: .3;
	}
	30% {
		opacity: .8;
	}
	50% {
		box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.4);
	}
	60% {
		opacity: .6;
	}
	75% {
		opacity: .8;
	}
	100% {
		box-shadow: 0 0 8px 0px rgba(255, 255, 255, 0.05);
	}
}

.main_curriculum .curriculum_item_dark .img_wrap {overflow: visible; position: absolute; right: 38px; bottom: 38px;}
.main_curriculum .curriculum_item .curriculum_item_twinkle {position: absolute; width: 32px; mix-blend-mode: color-dodge;}
.main_curriculum .curriculum_item:hover .curriculum_item_img {animation: main_icon_move 2s linear infinite;}

@keyframes curriculum_item_twinkle {
	0% {
  		opacity: 1;
	}
  	14% {
	    -webkit-transform: translateY(4px);
	    transform: translateY(4px);
	    opacity: .2;
	}
	28% {
	  -webkit-transform: translateY(-4px);
	  transform: translateY(-4px);
	  opacity: .8;
	}
	42% {
	  -webkit-transform: translateY(3px);
	  transform: translateY(3px);
	  opacity: 1;
	}
	56% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}
	70% {
	  -webkit-transform: translateY(1px);
	  transform: translateY(1px);
	  opacity: .3;
	}
	84%, 100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	  opacity: 1;
	}
}
@keyframes curriculum_item_twinkle2 {
	0% {
  		opacity: 1;
	}
  	14% {
	    -webkit-transform: translateY(4px);
	    transform: translateY(4px);
	}
	28% {
	  -webkit-transform: translateY(-4px);
	  transform: translateY(-4px);
	  opacity: .2;
	}
	42% {
	  -webkit-transform: translateY(3px);
	  transform: translateY(3px);
	  opacity: 1;
	}
	56% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	  opacity: .3;
	}
	70% {
	  -webkit-transform: translateY(1px);
	  transform: translateY(1px);
	  opacity: 1;
	}
	84%, 100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	  opacity: 1;
	}
}

		/* 전체 개강일정 */
        .main_curriculum .curriculum_item1 {grid-area: curriculum_item1;}
        .main_curriculum .curriculum_item1 .icon_wrap {box-shadow: 0px 0px 30.4px 1.6px rgba(43, 55, 173, 0.38);}



        /* 취업과정 공통 */

        .main_curriculum .curriculum_item2 {grid-area: curriculum_item2;}
        .main_curriculum .curriculum_item3 {grid-area: curriculum_item3;}
        .main_curriculum .curriculum_item4 {grid-area: curriculum_item4;}
        .main_curriculum .curriculum_item5 {grid-area: curriculum_item5;}
        .main_curriculum .curriculum_item6 {grid-area: curriculum_item6;}
        .main_curriculum .curriculum_item7 {grid-area: curriculum_item7;}
        .main_curriculum .curriculum_item8 {grid-area: curriculum_item8;}
        
        .main_curriculum .curriculum_item2:hover .curriculum_item_twinkle {animation: curriculum_item_twinkle2 2s linear infinite;}
		/* 정보보안 */
        .main_curriculum .curriculum_item6 {grid-area: curriculum_item6;}
        .main_curriculum .curriculum_item6 .img_wrap {width: 200px;}
        .main_curriculum .curriculum_item6 .curriculum_item_twinkle1 {top: -15px; left: 11px;}
        .main_curriculum .curriculum_item6 .curriculum_item_twinkle2 {top: 52px; left: -6px;}
        .main_curriculum .curriculum_item6 .curriculum_item_twinkle3 {top: 127px; right: 27px;}

        .main_curriculum .curriculum_item6:hover .curriculum_item_twinkle1, .main_curriculum .curriculum_item6:hover .curriculum_item_twinkle3 {animation: curriculum_item_twinkle 2s linear infinite;}
        .main_curriculum .curriculum_item6:hover .curriculum_item_twinkle2 {animation: curriculum_item_twinkle2 2s linear infinite;}


        .main_curriculum .curriculum_item_light {padding: 1px 1px 0; border-radius: 20px; border: 1px solid #eee;}
        .main_curriculum .curriculum_item_light::before {border-width: 1px; border-radius: 20px; border: 1px solid #eee;}
        .main_curriculum .curriculum_item_light:hover::before {border-width: 2px; border-color: var(--color-ict);}
        .main_curriculum .curriculum_item_light .content_title + p {font-size: 14px;}
        .main_curriculum .curriculum_item_light .content_explain {color: var(--color-dark); 
            font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}
        .main_curriculum .curriculum_item_light .content_text {color: var(--color-silver); 
            font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}
        
        .main_curriculum .curriculum_item_light img{width: 270px;}
        .main_curriculum .curriculum_item_light .content_date {color: var(--color-silver); 
            font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}

.main_curriculum .curriculum_item4 .content_explain, .main_curriculum .curriculum_item5 .content_explain {font-weight: 600; font-size: 15px;}
.main_curriculum .curriculum_item_light .content_title {padding-bottom: 20px; font-weight: 600; font-size: 25px; font-weight: 600;}

.main_curriculum .curriculum_item .icon_wrap {position: absolute; right: 26px; bottom: 18px; width: 60px; height: 60px; border-radius: 50%; padding: 12px 12px 11px 14px; background: #fff; box-shadow: 0px 0px 15px 0px rgba(87, 176, 228, .12);box-shadow: 0px 0px 15px 0px rgba(87, 176, 228, .2);}
.main_curriculum .curriculum_item4 .icon_wrap {padding: 11px;}
.main_curriculum .curriculum_item .icon_wrap img {width: auto; height: 100%;}

.main_curriculum .curriculum_item:hover .icon_wrap img {animation: main_icon_move 2s linear infinite;}

/* .main_curriculum .curriculum_item_light .curriculum_item_border:nth-of-type(1) {background: linear-gradient(90deg, transparent, var(--main-color-cyan) 40%);}
.main_curriculum .curriculum_item_light .curriculum_item_border:nth-of-type(2) {background: linear-gradient(180deg, transparent, var(--main-color-cyan) 40%);}
.main_curriculum .curriculum_item_light .curriculum_item_border:nth-of-type(3) {background: linear-gradient(270deg, transparent, var(--main-color-cyan) 40%);}
.main_curriculum .curriculum_item_light .curriculum_item_border:nth-of-type(4) {background: linear-gradient(360deg, transparent, var(--main-color-cyan) 40%);} */


/********** 띠배너 **********/
.main_band_section {width: 100%; height: 306px;}
.main_band_section .content {width: var(--min-width-page);}
.main_band_section .section_title {padding: 60px 0 38px; color: #fff;}


.main_wrap .main_direction_section {overflow: hidden; /* z-index: 1; */ width: 100%; height: 306px; color: #fff; text-align: center;}
.main_direction_section .section_title {padding: 60px 0 38px; color: #fff;}
.direction_bg {position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background: url() no-repeat center/cover;}
.main_direction .direction_item p {font-weight: 400 !important; font-size: 21px; margin: -15px 15px; line-height: 1.5; font-weight: lighter;}
.main_direction_section .swiper-direction_swiper_pagination {z-index: 0;}
.main_direction_section .swiper-pagination-bullet:nth-child(2) {margin:0 13px !important;border-radius: 0 !important; width: 130px; height: 95px; background: url() no-repeat center/contain; transition: all .3s ease;}
.main_direction_section .swiper-pagination-bullet:nth-child(3) {margin:0 11px 0 15px !important;margin-bottom: 8px !important; border-radius: 0 !important; width: 110px; height: 80px; background: url() no-repeat center/contain; transition: all .3s ease;}
.main_direction_section .swiper-pagination-bullet:last-child {margin:0 13px 0 11px !important; border-radius: 0 !important; width: 140px; height: 100px; background: url() no-repeat center/contain; transition: all .3s ease;}
.main_direction_section .swiper-pagination-bullet:first-child {width: 0; height: 0; margin:0;}
.main_direction_section .swiper-pagination-bullet-active:first-child ~ .swiper-pagination-bullet {opacity: 1;}

	/* 결과 수치 */
.main_wrap .main_result_section {overflow: hidden; z-index: 1; background: linear-gradient(to right, #1d3ba5, #252b51); color: #fff;}
.main_result_section .result_bg {position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;  background: url(../images/main/main_result_bg.jpg) no-repeat center/cover;}

.main_result {display: flex;}
.main_result .result_item {width: -webkit-calc((1130px - 20px) / 4); width: calc((1130px - 20px) / 4); text-align: center;}
.main_result .result_item:not(:last-child)::after {content: ''; float: right; width: 1px; height: 53px; margin: -75px 0 0 0; opacity: .2; background: #fff;}
.main_result .result_item .result_item_title {font-weight: 500; font-size: 18px; text-align: left;}
.main_result .result_item .result_item_title span {padding-left: 5px; color: #a5a8be; font-weight: 400; font-size: 13px;}
.main_result .result_item .result_item_count {font-weight: 500; font-size: 30px;}
.main_result .result_item .result_item_count .count {font-weight: 700; font-size: 52px; vertical-align: -2px;}

.main_result .result_item1 .result_item_title {padding-left: 24%;}
.main_result .result_item2 {width: -webkit-calc((1130px - 20px) / 4 + 20px); width: calc((1130px - 20px) / 4 + 20px);}
.main_result .result_item2 .result_item_title {padding-left: 16%;}
.main_result .result_item2 .result_item_count::after {content: '+'; margin-left: 2px; vertical-align: 22px; font-size: 24px;}
.main_result .result_item3 .result_item_title {padding-left: 21%;}
.main_result .result_item4 .result_item_title {padding-left: 26%;}

/********** ICT스토리 **********/
.main_portfolio_wrap {width: 100%; padding-bottom: 60px;padding-bottom: 50px; background-color: #f6f8fc;}
.main_portfolio_section .btn_main {background-color: #f2f5fa;}
.main_portfolio_section .content_explain_main {padding-top: 5px; font-size: 16px;}


.ict-edu-html-2024u4602u4617 .divml-4-iFpqbC {
    background-color: transparent;
    height: 592px;
    left: 320px;
    position: absolute;
    top: 2287px;
    width: 1280px;
}
.list_thumb_item2{height: 200px;}
.main_story_wrap .main_story .img_wrap {width: 600px; height: 88px; display: block;} 
.main_story_wrap .main_story .img_wrap img {height: auto; /* transform: translateY(-13px); RAD 메인배포랑 연동 */ transition: all .25s ease;}
/* .main_story_wrap .list_thumb_4  .list_thumb_item:hover .img_wrap img {transform: scale(1.15);} */

/********** 취업생&수료생 인터뷰 **********/
.main_interview .list_thumb_item {box-shadow: 0px 6px 24px 0px rgba(5, 5, 5, .05);}
.main_interview .content_explain_main {width: fit-content;}
.main_interview .content_explain_main::after {content: ''; display: inline-block; width: 5px; height: 9px; margin: 0 0 1px 7px; opacity: .7; background: url(); background-repeat: no-repeat; background-position: center; background-size: contain;}
.main_interview .list_thumb_item .img_wrap img {width: auto; height: 100%; transform: translateX(-8px);}

/********** 기업로고 롤링 **********/
.main_ment_section {width: 100%; height: auto; margin: 30px auto -70px;}
.main_ment_section .main_ment {overflow: hidden; color: #f6f8fc; font-weight: 700; font-size: 134px; white-space: nowrap;}
.main_ment p[class^='ment_marquee'] {display: inline-block;}
.main_ment .ment_marquee1 {animation: 240s linear infinite directionMarquee1; position:absolute; top:-100px}
.main_ment .ment_marquee2 {animation: 240s linear infinite directionMarquee2; position:absolute; top:0px}
.main_ment .ment_marquee3 {animation: 240s linear infinite directionMarquee1; position:absolute; top:100px}
.main_ment .ment_marquee4 {animation: 240s linear infinite directionMarquee2; position:absolute; top:200px}

.main_ment .ment_marquee1 img {width: 180px; margin: 20px;}
.main_ment .ment_marquee2 img {width: 180px; margin: 20px;}
.main_ment .ment_marquee3 img {width: 180px; margin: 20px;}
.main_ment .ment_marquee4 img {width: 180px; margin: 20px;}


@keyframes directionMarquee1 { /* 원본용 */
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes directionMarquee2 { /* 클론용 */
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    50.01%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

/********** 취업현황 **********/
.main_status_section {padding-bottom: 90px;}

.status_company {display: grid; grid-template-columns: repeat(6, 1fr); border-top: 1px solid #e5e8ec; border-left: 1px solid #e5e8ec; margin-bottom: 30px;}
.status_company li {height: 75px; border-right: 1px solid #e5e8ec; border-bottom: 1px solid #e5e8ec;}

.main_status .status_list {display: grid; grid-template-columns: repeat(2, 1fr); gap: 0 60px; line-height: 1;}
.main_status .status_list_item {display: -webkit-box; display: -moz-box; display: flex; -webkit-box-pack: justify; -moz-justify-content: space-between; justify-content: space-between; align-items: center; padding: 20px 12px 20px 0px; cursor: pointer;}
.main_status .status_list_item:not(:nth-last-child(-n+2)) {border-bottom: 1px solid #e5e8ec;}
.main_status .status_list_item .content_subtitle_main::before {content: ''; display: inline-block; width: 34px; height: 34px; border-radius: 50%; margin-right: 12px; background-repeat: no-repeat; background-position: center; background-color: #f1f3f8; vertical-align: middle; transition: all .25s ease;}
.main_status .status_security .content_subtitle_main::before {background-image: url(https://khedu.co.kr/resources/images/common/icon_status_security.svg); background-size: 32px;}
.main_status .status_java .content_subtitle_main::before {background-image: url(../img/icons/icon_status_new_off.svg); background-size: 38px;}
.main_status .status_list_item .content_explain_main::after {content: ''; display: inline-block; width: 6px; height: 12px; margin: 0px 0 -1px 18px; background: url(https://khedu.co.kr/resources/images/common/btn_arrow_right_gray.svg); background-repeat: no-repeat; background-position: center; background-size: contain;}

.main_status .status_list_item:hover .content_subtitle_main {color: var(--color-ict);}
.main_status .status_security:hover .content_subtitle_main::before {
    background-image: url(https://khedu.co.kr/resources/images/common/icon_status_security_hover.svg); background-color: var(--color-ict);}
.main_status .status_java:hover .content_subtitle_main::before {
    background-image: url(../img/icons/icon_status_new.svg); background-color: var(--color-ict);}

/********** KH 새로운 소식 **********/
.main_story_wrap {width: 100%; padding-bottom: var(--padding-bottom-content); margin-bottom: 47px; background-color: #f6f8fc;}
.main_story_section .btn_main {background-color: #f2f5fa;}





/********** 2023.11월 메인 리뉴얼 이전 **********/
/* 고용노동부 수강후기 버튼애니메이션 */
.btnAction { position: relative; float: right; text-decoration: none; }
.btnAction:before { content: ''; display: block; clear: both; }
.btnAction .arr { width: 49px; height: 19px; }
.btnAction .arr:before{ content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background:#fff; border-radius: 50px; }
.btnAction .arr:after{ content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #222; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; transition: transform .4s cubic-bezier(.19,1,.22,1), opacity .3s cubic-bezier(.19,1,.22,1); -webkit-transition: transform .4s cubic-bezier(.19,1,.22,1), opacity .3s cubic-bezier(.19,1,.22,1); -moz-transition: transform .4s cubic-bezier(.19,1,.22,1), opacity .3s cubic-bezier(.19,1,.22,1); transform: scale(0); -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); opacity: 0; color:#fff; }
.btnAction:hover .arr:before{ border: 1px solid #fff; transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); opacity: 0; border-radius: 50px; }
.btnAction:hover .arr:after{ transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); opacity: 1; }
.btnAction .arr .ico-arr {position:absolute; left: 10px; z-index:1; box-sizing:border-box; font-size:11px; }
.btnAction:hover .arr .ico-arr{ color:#fff; }

/* 개강일정 */
.info_box_top {width:1130px; margin:50px auto; overflow:hidden;}
.info_box_top1{ height: 353px; width: 560px; text-align: center; float:left; background:#fa5c3f; }
.info_box_top1 img{  padding:30px;}
.info_box_top4 { background: #B2B0B1; float: left; width: 265px; height: 250px; background: #FFFFFF; }

/* 교육 후기 */
.double-quotation img { width: 20px; height: 15px;}
#std_interview { width:100%; height:661px; }
#std_interview .main_middle3{ width: 100%; background: url(../images/main/main_renewal/main_std_interview_bg.jpg) no-repeat; background-position:center; height: 415px; background-size: cover; position: relative; }
#std_interview .main_middle3 .std_title{ padding-top:53px; width:1130px; margin:0 auto; position:relative; }
#std_interview .main_middle3 .std_title h2 {font-size:40px; color:#fff; text-align:center;}
#std_interview .main_middle3 .std_title p {color:#fff; font-weight:300; font-size:18px; text-align:center;}
#std_interview_wrap{ width: 1130px; overflow: hidden; margin: 0 auto; position: absolute; top: 165px; left: 0; right: 0; }
.std_interview, .std_interview2 { width:560px; }
.std_interview .slick-dots, .std_interview2 .slick-dots {left:2px; bottom:25px;}
.std_interview2 { position: absolute !important; right:0; top:0; }
.std_interview .interviewTitle{ text-align: center; margin:15px auto 20px; }
.stdInterview01_content .st_cont{ height:246px; background:#f2f5fa; text-align: center; }
.stdInterview01_content .st_cont .data_name {padding-top:30px; font-weight:600; font-size:32px;}
.stdInterview01_content .st_cont .data_title {font-weight:500; font-size:18px;}
.stdInterview01_content .st_cont .line {display:block; width:18px; height:1px; margin:14px auto; background:#dadbe1;}
.stdInterview01_content .st_cont .data_detail {font-weight:400; letter-spacing:-0.06em;}
.stdInterview01_content .st_cont .data_charge {margin-top:4px; color:#5b5b5b; font-size:14px;}
#fadeinbottom p{ color:#fff; text-align: center; font-size:15px; }
#fadeinbottom { opacity: 0;  margin-top:-50px; max-width:100%; z-index:1; padding-top:27px; box-sizing: border-box; position: absolute; top:128px; left:22px; }

/* KH와 함께하는 기업 - 기업체 인터뷰 */
#com_interview {width:100%; margin-top:59px;}
#com_interview .com_cont {margin-top:31px;}
#com_interview .com_cont2 {width:1130px; margin:0 auto;}
#com_interview .main_middle4 .slick-dots {left:2px; bottom:-30px !important;}
#com_interview .main_middle4 .com_title h2 {font-size:40px; color:#222; text-align:center; cursor:pointer;}
#com_interview .main_middle4 .com_title p {color:#5b5b5b; font-weight:400; font-size:18px; text-align:center;}
.comInterview_content .com_cont .data_name {font-size:2.9em; font-weight:bold; color:#fff; padding:51px 13px 14px;}
.comInterview_content .com_cont .data_title { font-size:1em; font-weight:400; line-height:1.3; color:#fff; margin-left:18px; letter-spacing:-0.1em; }
.comInterview_content .com_cont .data_charge {font-size:1em; color:#fff; font-weight:300; margin:10px 0 0 18px; padding-bottom:28px;}
.comInterview_content .slick-slide .actionBtn22 .lb-before, .comInterview_content .slick-slide .actionBtn22 .lb {color:#fff; font-weight:300;}
.comInterview_content .slick-slide .arrowAction .arrow-icon {margin-left:13px;}

/* ICT STORY */
.khstory_warp {width: 100%; /* width:1917px;  */ position: relative; overflow: hidden; height: 518px; margin:70px auto;}
.khstory_warp .com_title h2 {font-size:40px; color:#222; text-align:center; cursor:pointer;}
.khstory_warp .com_title p {color:#5b5b5b; font-weight:400; font-size:18px; text-align:center;}
.khstory_slider {position:relative; overflow:hidden; width:1332px; background-color:#f2f5f9; height:368px; margin-top:30px;}
.khstory_slider_cont { margin: 0; position: relative;}
.khstory_slider_cont .item {/*width: 100%;*/width:430px; height:368px; padding-top:40px; box-sizing: border-box;}
.khstory_slider_cont .item .img_cont { height: 100%; width: 352px; position: absolute; left: 395px; padding-top:37px; box-sizing: border-box; }
.khstory_slider_cont .item .img_cont img { display: inline-block; position: relative; max-width: 100%; max-height: 100%; top: 50%; transform: translateY(-50%);}
.khstory_slider_cont .next-arrow{ position: absolute; transition: all 0.5s; width: 7px; top: 81.3%; left: 35.6%; height: 11px; background:url(../images/main/main_renewal/khstory_arrow_next.png)no-repeat;
outline: none; cursor: pointer; }
.khstory_slider_cont .prev-arrow { position: absolute; transition: all 0.5s;width: 7px; top: 81.3%; left: 33.2%; height: 11px; background:url(../images/main/main_renewal/khstory_arrow_prev.png)no-repeat;
outline: none; cursor: pointer; }
.khstory_slider_cont .next-arrow img, .khstory_slider_cont .prev-arrow img { width:7px; height:11px; }

.khstory_slider_cont .caption { width: 100%; position: relative;text-align: center; display: block; opacity: 1; transition: opacity 0.15s;}
.khstory_slider_cont .caption.hide {opacity: 0;}

.khstory_slider_thumbnails { position: relative; top: -328px; left: 740px; width: 1177px; height: 368px; transition: all 0.8s;}
.khstory_slider_thumbnails:before, 
.khstory_slider_thumbnails:after { content: ""; display: block; width: 100px; height: 100%; position: absolute; top: 0; z-index: 10; pointer-events: none;}
.khstory_slider_thumbnails .item { width:430px; height: 368px;}
.khstory_slider_thumbnails .item .img_cont {cursor: pointer; margin-right:15px;}
.khstory_slider_thumbnails .item .img_cont img {-webkit-transition: all 0.3s; transition: all 0.3s; display: inline-block; position: relative; width: 100%; height:100%;}
.khstory_slider_cont .item p:first-child{ color:#222; font-size:18px;}
.khstory_slider_cont .item .line{ width:18px; height:1px; background:#d4dbe1; margin:25px 0 14px; }
.khstory_slider_cont .item p:nth-child(3) {color:#5b5b5b; font-size:17px;}
.khstory_slider_cont .item p:nth-child(4) {margin-bottom:30px; color:#222; font-size:25px; font-weight: 800;}
.khstory_slider_cont .item .numbertext {position:absolute; top:74%; color:#222; font-size:15px; letter-spacing:-1.4px;}

.khstory_slider_cont .arrowAction .arrow-icon{ background:url(../images/main/main_renewal/khstory_arrow_icon.png)no-repeat; }
.khstory_slider_cont .arrowAction .cir-left, .khstory_slider_cont .arrowAction .cir-right{ background:#222; }
.khstory_slider_cont .actionBtn22{ margin-left:0; }
.khstory_slider_cont .actionBtn22 .lb-before {color:#222;}
.khstory_slider_cont .actionBtn22 .lb {color:#222;}
.khstory_slider_cont .arrowAction .cir-left{ left:65px; }
.khstory_slider_cont .actionBtn22 .lb .arrow-icon{ left:-5px; }
.khstory_slider_cont .arrowAction .lb-before .arrow-icon{ left:25px; }
.khstory_slider_cont .arrowAction .lb-before .cir-left{ left:97px; }

.khstory_slider .slick-slider { margin: 0 -7.5px; padding: 0 !important;}
.khstory_slider .slick-slide {float: left; padding: 0 7.5px; outline: none; }

/* ICT 특강 배너 */
.lecture_banner{ width:100%; height:300px; background:pink; margin:0 auto; background:url(../images/main/main_renewal/middle_banner4.jpg)no-repeat center center; background-size: cover; }
.lecture_banner .lecture_cont{ width:1130px; height:300px; margin:0 auto; text-align: center; }
.lecture_banner .lecture_cont .button:hover { background-position: left bottom; color:#fff; }
.lecture_banner .lecture_cont .text { text-align:center; font-size: 13px; line-height: 33px; transition: all .3s ease-out; display: block; color:#fff; }
.lecture_banner .lecture_cont .text:hover { color: white; }
.lecture_banner .lecture_cont p:first-child {font-size:18px; font-weight:700; color:#fff; padding-top:66px; letter-spacing: 0.05em; }
.lecture_banner .lecture_cont p:first-child span {font-weight:200; font-size:15px; color:#fff; }
.lecture_banner .lecture_cont p:nth-child(2) {margin-top:13px; color:#fff; font-size:40px; font-weight:700; letter-spacing:-0.02em;}
.lecture_banner .lecture_cont p:nth-child(3) {margin-top:2px; color:#fff; font-size:18px; font-weight:300; }
.lecture_banner .lecture_cont .actionBtn22 .lb-before{ left:-18px; }
.lecture_banner .lecture_cont .arrowAction .lb-before .arrow-icon{ left:40px; }
.lecture_banner .lecture_cont .arrowAction .lb-before .cir-left{ left:111px; }





/* Footer */

.footer {width: 1280px; margin: 0 auto; background-color: #fff;}

.subcopy, .maincopy {font-family: 'pretendard'; font-size: 14px; font-weight: 400;color: var(--color-dark); }
.header_direction .icon_wrap2 img {width: 30px; display: inline-block; margin: 20px; position: relative; z-index: 101;}
.main_curriculum .curriculum_item_light .content_explain {color: var(--color-dark); 
    font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}
.main_curriculum .curriculum_item_light .content_text {color: var(--color-silver); 
    font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}

.main_curriculum .curriculum_item_light img{width: 270px;}
.main_curriculum .curriculum_item_light .content_date {color: var(--color-silver); 
    font-family: 'Pretendard','Bahnschrift'; font-size: 14px;}

.bottom_info_right .bottom_cont .sns_img{width: 30px; margin: 0px; display: inline-block;}
.bottom_info_right .bottom_cont .sns_img>img{width: 15px;}
.bottom_info_right .bottom_info_left img{padding-left: 20px;}
.bottom_info_right{margin-top: 20px;}