/* 
1. 결과수치 progress
2. 취업기업 rolling compney logo
3. ICT스토리 슬라이드이미지 carosuel
*/








	/* *************** 결과 수치 ****************** */


    .main_wrap .main_band_section .section_title {padding: 20px 0 28px; color: #fff;}

    .main_wrap .main_result_section {overflow: hidden; z-index: 1; height: 600px; 
        background: linear-gradient(to right, #00154c, #0F138f); color: #fff;
        background-image: url(/assets/img/main/result_bg4.png);
        background-size: cover;
        background-position: center center;
    } 
        
    
    
    
    /* process.css 내용  */
    .progress_bg{ display: flex; justify-content: center; align-items: center; width: 100%; height: 300px; }
    .card-container { padding: 0 auto; display: flex; justify-content: center; flex-wrap: wrap; gap: 0px; }
    .card, .card_m { position: relative; width: 200px; height: 250px; padding-top: 100px; margin: 0px; bottom: 0px; margin-bottom: 0px; }
    .card .rating, .card_m .rating { position: relative; width: 200px; height: 150px; } 
    
    /* 하단 과목명 */
    .progress_title, .progress_title_m { font-family: 'Pretendard700'; font-size: 14px; color: var(--color-light); text-align: center;  line-height: 1.4; width: 200px; height: 65px; position: relative; top: 20px;}
    .progress_title_m .text_m { position: relative; display: block; font-size: 15px; top: 8px;}
    .progress_title .text { position: relative; display: block; font-size: 15px; }
    
    
    
    /* 결과 숫자 스타일 */
    .rating h2, .rating h3 { position: absolute; width: 95%; top: 55%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-size: 2.4em; font-weight: 700; text-align: center;}
    
    /* % 스타일 */
    .rating h2 .persent, .rating h3 .persent {position: relative; left: 0px; font-size: 15px;} 
    
    /* 회전 바 */
    .card .rating .block, .card_m .rating .block { 
    position: absolute; width: 8px; height: 15px; 
    background: var(--color-black); left: 50%; transform-origin: 50% 80px; opacity: 1;}
    
  
    
  















































/* 취업기업 롤링이미지 */
/* s : Rolling image _company logo *********************************** */

.main_rolling{
    width: 100%;
    overflow: hidden;
}
.roll-wrap {
    position: relative;
    width: 100vw;
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
}
.rolling-list {
    position: relative;
    display: flex;
    left: 0;
    overflow: hidden;
}
.rolling-list ul {
    display: flex;
    padding: 0;
    margin: 0;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.rolling-list:not(.reverse) ul {
    animation-name: rollingleft;
}
.rolling-list.reverse ul {
    animation-name: rollingright;
}
.rolling-list ul li {
    list-style-type: none;
}
.rolling-list ul li img{
    width: 180px;
    margin: 20px;
}

@keyframes rollingleft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes rollingright {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}7
/* e : Rolling image _company logo *********************************** */




















































/* ICT 스토리 소식 슬라이드이미지 */
/* s : Carosuel *********************************** */

.main_story_wrap .main_story_section{
    /* border: 1px solid; */
}
.main_story_wrap .main_story_section .carousels {
    vertical-align: top;
    /* border: 1px solid; */
}
.main_story_wrap .main_story_section .carousels .carousel_tbl_left {
    vertical-align: top;
    /* border: 1px solid; */
}
.main_story_wrap .main_story_section .carousels .carousel_tbl_right{
    vertical-align: top;
    /* border: 1px solid; */
}
.main_story_wrap .main_story_section .carousels .carousel_tbl_left .allview_btn {
    border-bottom: 1px solid;
    border-color: var(--color-silver); 
    position: relative; 
    width: 100%; 
    /* border: 1px solid;  */
    left: 0px;
    height: 30px; 
}


.main_story_wrap .main_story_section .carousels .carousel_tbl_right .allview_btn {
    border-bottom: 1px solid;
    border-color: var(--color-silver);
    position: relative;
    /* border: 1px solid;  */
    width: 100%; 
    left: 0px;
    height: 30px; 
    margin-bottom: 8px;
}
.main_story_wrap .main_story_section .carousel_tbl_center {
    text-align: center;
    align-items: center;
}
.main_story_wrap .main_story_section .carousel_tbl_center .h_bar {
    position:relative;
    top: 0px;
    left: 50%;
    display: flex;
    width: 1px;
    height: 100%;
    background-image: linear-gradient(var(--color-light), var(--color-silver),var(--color-silver),var(--color-silver), var(--color-light));
}

.main_story_wrap .main_story_section .carousel {
    position: relative;
}

.main_story_wrap .main_story_section .carousel.pointer-event {
    touch-action: pan-y
}


.main_story_wrap .main_story_section .carousel-inner {
    position: relative;
    height: 100%;
    overflow: hidden
}

.main_story_wrap .main_story_section .carousel-inner::after {
    display: block;
    clear: both;
    content: ""
}

.main_story_wrap .main_story_section .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out
}

.main_story_wrap .main_story_section .carousel-item .carousel_text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-white-90);
    border-top: 1px solid var(--color-white);
    box-shadow: inset 0px 3px 2px var(--color-gary1);
    font-family: 'pretendard','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@media (prefers-reduced-motion:reduce) {
    .main_story_wrap .main_story_section .carousel-item {
        transition: none
    }
}

.main_story_wrap .main_story_section .carousel-item-next,
.main_story_wrap .main_story_section .carousel-item-prev,
.main_story_wrap .main_story_section .carousel-item.active {
    display: block
}

.active.carousel-item-end,
.main_story_wrap .main_story_section .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(100%)
}

.active.carousel-item-start,
.main_story_wrap .main_story_section .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%)
}

.main_story_wrap .main_story_section .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none
}

.main_story_wrap .main_story_section .carousel-fade .carousel-item-next.carousel-item-start,
.main_story_wrap .main_story_section .carousel-fade .carousel-item-prev.carousel-item-end,
.main_story_wrap .main_story_section .carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1
}

.main_story_wrap .main_story_section .carousel-fade .active.carousel-item-end,
.main_story_wrap .main_story_section .carousel-fade .active.carousel-item-start {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s .6s
}

@media (prefers-reduced-motion:reduce) {

    .main_story_wrap .main_story_section .carousel-fade .active.carousel-item-end,
    .main_story_wrap .main_story_section .carousel-fade .active.carousel-item-start {
        transition: none
    }
}

.main_story_wrap .main_story_section .carousel-control-next,
.main_story_wrap .main_story_section .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease
}

@media (prefers-reduced-motion:reduce) {

    .carousel-control-next,
    .carousel-control-prev {
        transition: none
    }
}

.main_story_wrap .main_story_section .carousel-control-next:focus,
.main_story_wrap .main_story_section .carousel-control-next:hover,
.main_story_wrap .main_story_section .carousel-control-prev:focus,
.main_story_wrap .main_story_section .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.main_story_wrap .main_story_section .carousel-control-prev {
    left: 0
}

.main_story_wrap .main_story_section .carousel-control-next {
    right: 0
}

.main_story_wrap .main_story_section .carousel-control-next-icon,
.main_story_wrap .main_story_section .carousel-control-prev-icon {

    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.main_story_wrap .main_story_section .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.main_story_wrap .main_story_section .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.main_story_wrap .main_story_section .carousel-indicators {
    /* border: 10px solid yellow;  */
    position: absolute;
    width: 70%;
    bottom: 30px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%
}

.main_story_wrap .main_story_section .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 10px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--color-white);
    background-clip: padding-box;
    border: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease
}

@media (prefers-reduced-motion:reduce) {
    .main_story_wrap .main_story_section .carousel-indicators [data-bs-target] {
        transition: none
    }
}

.main_story_wrap .main_story_section .carousel-indicators .active {
    opacity: 1
}

.main_story_wrap .main_story_section .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center
}

.main_story_wrap .main_story_section .carousel-dark .carousel-control-next-icon,
.main_story_wrap .main_story_section .carousel-dark .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

.main_story_wrap .main_story_section .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000
}

.main_story_wrap .main_story_section .carousel-dark .carousel-caption {
    color: #000
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon,
[data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: #000
}

[data-bs-theme=dark] .carousel .carousel-caption,
[data-bs-theme=dark].carousel .carousel-caption {
    color: #000
}

.spinner-border,
.spinner-grow {
    display: inline-block;
    width: var(--bs-spinner-width);
    height: var(--bs-spinner-height);
    vertical-align: var(--bs-spinner-vertical-align);
    border-radius: 50%;
    animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name)
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg)
    }
}

.spinner-border {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid currentcolor;
    border-right-color: transparent
}

.spinner-border-sm {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 0.2em
}

@keyframes spinner-grow {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 1;
        transform: none
    }
}

.spinner-grow {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-grow;
    background-color: currentcolor;
    opacity: 0
}

.spinner-grow-sm {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem
}

@media (prefers-reduced-motion:reduce) {

    .spinner-border,
    .spinner-grow {
        --bs-spinner-animation-speed: 1.5s
    }
}
/* e : Carosuel *********************************** */


