@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


/* ************** 위치 추척테스트용 ************ */
.tt { border: 1px solid var(--color-ict);  }
.ttb { border: 1px solid var(--color-blue);  }
.ttl { border: 1px solid var(--color-lime);  }
.tty { border: 1px solid var(--color-gold);  }

/* ************** common ************ */
.overx {overflow: hidden;}
.br {display: block;   height: 30px;}
.roll_br {display: block;   height: 100px;}
.h-100 {height: 100%;}
.ch-100 {max-height: 400px;}
.auto {margin: 0px auto;}
.center {text-align: center;}
.ict_font {color: var(--color-ict);}
.ict_blue {color: var(--color-blue);}
.ict_mint {color: var(--color-mint);}
.ict_bg{background-color: var(--color-ict);}
.ict_white {color: var(--color-white);}


/* design page style */


.main-content2 { margin: 0px; padding: 0px; margin-left: 0px; overflow: hidden }
.main-content2 .content {   padding: 0 15px 10px 15px; margin-top: 70px         }
.main-content2 .top_bg { position: relative;
    background-color: var(--color-edu); 
    height: 55px; margin-left: 0px; margin-top: 5px;
}
.main-content2 .top_bg img{position: absolute; height: 30px; 
    margin-left: 20px; top: 10px; border: none;} 

.main-content2 .top_bg p{position: absolute; 
    font-family: 'pretendard', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-left: 20px; top: 50px;color: var(--color-silver);
} 

.main-content2 .page-content .content-container{
    padding-left: 0px;
}

.main-content2 .page-content .content-container .title {
    font-family: 'pretendard', 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 20px; color: var(--color-white); font-weight: 500;
    background-image: linear-gradient(0deg, var(--color-edu) 0%, var(--color-blue) 100%); 
    margin-top: 0px; margin-left: 0px; height: 40px; 
    padding-left: 50px;
    padding-top: 3px;
    border-top: 1px solid var(--color-aqua);
    border-bottom: 2px solid var(--color-dark);
}

.main-content2 .page-content .content-container .titlebg  { 
  background: linear-gradient(0.5turn,var(--color-dark), var(--color-black));
  height: 30px; color: var(--color-white);
  padding-top: 0px;
  font-size: 14px; font-weight: 500; letter-spacing: 1px;
  text-shadow: 1px 2px 2px var(--color-black);
} 

.titletab {
  width: 150px;
  border-top: 1px solid ;
  border-right: 10px solid ;
  border-top-right-radius: 40px;
}

.small {
  font-size: 12px; color: var(--color-aqua);
}


.footer {
    bottom: 0;
    padding: 20px calc(1.5rem / 2);
    position: absolute;
    right: 0;
    left: 0px;
    height: 60px;
    background-color: var(--color-edu)
}

.footer .text {
  color: var(--color-silver);
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 2px;
}


/* common */

.row_div{
  padding: 0px 20px 20px 20px; 
}

.feed-item{
  font-family: 'Pretendard-Regular';
  font-size: 13px;
  font-style: normal;
}


.iblock {display: inline-block;}
.block {display: block;}
.flex {display: flex;}

/* 색상팔레트 크기 */

.title_h{
  position: relative;
  width: 100px;
  padding-left: 10px;
  height: 100px;
  text-align: left;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  align-items: center; 
}


.vivid_h{
  position: relative;
  width: 100px;
  padding-left: 10px;
  height: 100px;
  text-align: left;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  align-items: center;  
}

.color_h{
  position: relative;
  width: 200px;
  padding-top: 20px;
  padding-left: 20px;
  height: 130px;
  text-align: left;
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* 색상팔레트 크기 small*/
.color_s{
  width: 150px;
  font-size: 9px;
  padding-top: 10px;
  padding-left: 20px;
  height: 130px;
  text-align: left;
  margin: 20px 20px 0px 20px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
/* 색상팔레트 크기 sub*/
.color_o{
  width: 150px;
  font-size: 10px;
  padding-top: 10px;
  padding-left: 20px;
  height: 130px;
  text-align: left;
  margin: 20px 0px 0px 0px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.menu_btn{
  background-color: #000000;
  display: block;
  height: 30px;
  margin-bottom: 2px;
  width: 100%;
  color: #eee;
  text-indent: 10px;
  padding-top: 5px;
}
.menu_btn:hover, menu_btn:active, menu_btn:visited menu_btn:link{
  color: #00eeff;
  background-color: #33424c;
  width: 100%;
  border-bottom: 1px solid #00bb99 ;
}


.sub-line:hover{
  background-color: #33424c;
}

.op50{
  opacity: 0.5;
}

.c{
  text-align: center;
}

img{
  max-width: 1920px;
}

body {
  font-family: 'Pretendard-Regular';
  position:relative;
    margin: 0;
    overflow-x:hidden;
    /* justify-content: center;
    align-items: center; */
    /* max-width: 90vw;
    min-height: 100vh; */
    background-color: #333;
}

h1    { height: 30px; }
.f14  {	font-size: 14px	}
.f20  {	font-size: 20px	}
.f24  {	font-size: 24px	}
.b    { font-weight: 700	}
.bd   { border:     1px solid #333; }
.bd5  { border: 5px solid red;  }
.maincolor  { color: #0078CC;     }
.mainbg     { background-color: #0078CC;  }

.bkbg {background-color: #333; text-align: center; width: 100%; margin: auto; display: block;   padding-top: 15px;}
.whitebg {background-color: #666; text-align: center; width: 100%; margin: auto; display: block; height: 50px; padding-top: 10px;}
  .topmenu{text-align: center; font-size: 12px; height: 100px; padding-bottom: 50px;}
hr{ width: 2px; margin: 3px; color: #00bb99;}
.el {width: 99%; margin: 15px 5px auto; padding: 0px; max-width: 1920px; }
.height{height: 100vh; padding-top: 250px;}
.w100{
  width: 100%;
}

.foot_bg{
  background-image: url('assets/img/foot_bg.png');
  background-repeat: repeat-x;
  background-position: 0px;
  background-size: auto;
}





.all {
    background-color: #263238;
}

.iframe-container {
    width: 250px;
    height: 100vh;
    overflow: hidden; /* 필요에 따라 설정 */
    background-color: #263238;
  }
  .content-container {
    flex: 1;
  }

  .padding{
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: inset 0px 0px 0px 1px #000;
  }


  .top_nav{
    height: 50px;
  }

  .badge {
    text-indent: 0px;
    position: relative;
    text-align: center;
    width: 40px;

}



  .logo{
    color: #fff;
    padding-top: 10px;
  }

  .top_bg{
    background-color: #eeeeee;
    height: 100%;
    color: #263238;
  }

  div{
    font-family: 'pretendard','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }

  ul, li{
    font-family: 'pretendard','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
  }

  line{
    border-bottom: 1px solid #eee;
  }
  li{
    list-style-type: none;
    text-indent: -0px;
  }

  .menu-title{
    background-color: #3F5FB8;
  }

  .content-container{
    color: #333;
  }

  .last{
    font-size: 10px;
    color: #aaa;
    position: relative;
    left: 10px;
  }

  .side-title{
    font-size: 10px;
  }

  .white{
    color: #fff;
  }