/* index.html 메인배너 슬라이드 제어 2024.04.26 */

.container-fluid {
    width: 100%;
    min-width: 1200px;
    margin: 0 auto
}

.container-fluid:after {
    display: block;
    clear: both;
    content: ""
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative
}

.container:after {
    display: block;
    clear: both;
    content: ""
}

.sr-only{
    position:absolute;width:1px;height:1px;padding:0;overflow:hidden;
    clip:rect(0,0,0,0);white-space:nowrap;border:0
}










.swiper-pagination.common-slide-pagination .swiper-pagination-bullet {
    background-color: transparent
}

.swiper-pagination.common-slide-pagination .swiper-pagination-bullet--svg-animation {
    width: 30px;
    height: 30px;
    margin: 0 10px !important;
    display: inline-block
}

.swiper-pagination.common-slide-pagination .swiper-pagination-bullet--svg-animation svg {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.swiper-pagination.common-slide-pagination .swiper-pagination-bullet--svg-animation .svg__circle-inner {
    stroke: #6e6e6e;
    fill: transparent;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.swiper-pagination.common-slide-pagination .swiper-pagination-bullet-active .svg__circle {
    stroke: #006955;
    stroke-dasharray: 75;
    stroke-dashoffset: 0;
    -webkit-animation: progress 5s ease-in-out 1 forwards;
    -moz-animation: progress 5s ease-in-out 1 forwards;
    -ms-animation: progress 5s ease-in-out 1 forwards;
    animation: progress 5s ease-in-out 1 forwards
}

.swiper-pagination.common-slide-pagination .swiper-pagination-bullet-active .svg__circle-inner {
    fill: #006955;
    stroke: #006955
}

.swiper-pagination.common-slide-pagination.not-auto .swiper-pagination-bullet {
    background-color: transparent
}

.swiper-pagination.common-slide-pagination.not-auto .swiper-pagination-bullet--svg-animation {
    width: 30px;
    height: 30px;
    margin: 0 10px !important;
    display: inline-block
}

.swiper-pagination.common-slide-pagination.not-auto .swiper-pagination-bullet--svg-animation svg {
    width: 30px;
    height: 30px
}

.swiper-pagination.common-slide-pagination.not-auto .swiper-pagination-bullet--svg-animation .svg__circle-inner {
    stroke: #6e6e6e;
    fill: transparent
}

.swiper-pagination.common-slide-pagination.not-auto .swiper-pagination-bullet-active .svg__circle {
    stroke: #006955;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    opacity: 1
}

.swiper-pagination.common-slide-pagination.not-auto .swiper-pagination-bullet-active .svg__circle-inner {
    fill: #006955;
    stroke: #006955
}

[v-cloak] {
    display: none
}












.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column
}

.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-container-3d {
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

:root {
    --swiper-navigation-size: 44px
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/44*27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1*var(--swiper-navigation-size)/2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: "prev"
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: "next"
}

.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
    --swiper-navigation-color: #ffffff
}

.swiper-button-next.swiper-button-black,
.swiper-button-prev.swiper-button-black {
    --swiper-navigation-color: #000000
}

.swiper-button-lock {
    display: none
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(.33);
    position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(.33)
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color))
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: .2s transform, .2s top
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s left
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s right
}

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical>.swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-white {
    --swiper-pagination-color: #ffffff
}

.swiper-pagination-black {
    --swiper-pagination-color: #000000
}

.swiper-pagination-lock {
    display: none
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s infinite linear;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent
}

.swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
    --swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-flip {
    overflow: visible
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}


























#main_banner #main-big-slide {
    width: 100%
}

#main_banner #main-big-slide .swiper-slide {
    width: 100%;
    height: 350px; 
    overflow: hidden
}

#main_banner #main-big-slide .swiper-slide .link {
    display: block;
    width: 100%;
    height: 100%
}

#main_banner #main-big-slide .swiper-slide .background {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    background-repeat: no-repeat;
    transform: translateX(-50%) scale(1.3);
    bottom: 0;
    max-width: 3840px;
    opacity: .4;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -ms-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    min-width: 1280px;
    background-position: center center
}

#main_banner #main-big-slide .swiper-slide .container {
    width: 1280px;
    height: 350px; 
    position: relative;
    overflow: hidden
}

#main_banner #main-big-slide .swiper-slide .container .text-img {
    position: absolute
}

#main_banner #main-big-slide .swiper-slide .prev-img-box {
    position: absolute;
    right: 0;
    top: 38%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    z-index: 2;
    cursor: pointer
}

#main_banner #main-big-slide .swiper-slide .prev-img-box .category-en {
    color: #a6a6a8;
    font-weight: 300;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 50px
}

#main_banner #main-big-slide .swiper-slide .prev-img-box .category-kr,
#main_banner #main-big-slide .swiper-slide .prev-img-box .img-title-box>span {
    font-weight: 500;
    font-family: SDGothic, sans-serif;
    font-size: 16px
}

#main_banner #main-big-slide .swiper-slide .prev-img-box .img-title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 10px
}

#main_banner #main-big-slide .swiper-slide .prev-img-box .img-title-box>img {
    margin-left: 15px;
    width: 50px;
    height: 35px
}

#main_banner #main-big-slide .swiper-slide.swiper-slide-active .background {
    transform: translateX(-50%) scale(1); 
    opacity: 1
}

#main_banner #main-big-slide .control-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    right: 50%;
    top: 22%; 
    margin-right: -100px; 
    margin-top: 220px 
}

#main_banner #main-big-slide .control-wrap>.swiper-button-next,
#main_banner #main-big-slide .control-wrap>.swiper-button-prev {
    position: relative;
    width: 29px;
    height: 29px;
    text-indent: -999999px;
    background-color: transparent;
    border: none;
    display: inline-flex;
    margin-top: 0;
    top: 0
}

#main_banner #main-big-slide .control-wrap>.swiper-button-next:after,
#main_banner #main-big-slide .control-wrap>.swiper-button-prev:after {
    content: ""
}

#main_banner #main-big-slide .control-wrap>.swiper-button-next:active,
#main_banner #main-big-slide .control-wrap>.swiper-button-next:focus,
#main_banner #main-big-slide .control-wrap>.swiper-button-prev:active,
#main_banner #main-big-slide .control-wrap>.swiper-button-prev:focus {
    outline: 0
}

#main_banner #main-big-slide .control-wrap>.swiper-button-prev {
    background-color: transparent;
    background-image: url(/assets/img/icons/main-slide-left.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    left: auto;
    margin-left: 25px
}


#main_banner #main-big-slide .control-wrap>.swiper-button-next {
    background-color: transparent;
    background-image: url(/assets/img/icons/main-slide-right.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    left: auto;
    margin-left: 15px
}


#main_banner #main-big-slide .control-wrap>.swiper-button-prev:hover {
    background-image: url(/assets/img/icons/main-slide-left_on.png);
}

#main_banner #main-big-slide .control-wrap>.swiper-button-next:hover {
    background-image: url(/assets/img/icons/main-slide-right_on.png);
}

#main_banner #main-big-slide .control-wrap .swiper-pagination {
    position: relative;
    line-height: 1
}

#main_banner #main-big-slide .control-wrap .swiper-pagination .swiper-pagination-bullet {
    background-color: #f0f0f0;
    margin: 0 5px;
    opacity: .5;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

#main_banner #main-big-slide .control-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1
}


