/* ictedu tab panel style 2024.03.30*/


.nav {
 padding-left: 0;
 margin-bottom: 0;
 list-style: none;
}
.nav > li {
 position: relative;
 display: block;
}
.nav > li > a {
 position: relative;
 display: block;
 padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
 text-decoration: none;
 background-color: #eee;
}
.nav > li.disabled > a {
 color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
 color: #777;
 text-decoration: none;
 cursor: not-allowed;
 background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
 background-color: #eee;
 border-color: #337ab7;
}
.nav .nav-divider {
 height: 1px;
 margin: 9px 0;
 overflow: hidden;
 background-color: #e5e5e5;
}
.nav > li > a > img {
 max-width: none;
}
.nav-tabs {
 border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
 float: left;
 margin-bottom: -1px;
}
.nav-tabs > li > a {
 margin-right: 2px;
 line-height: 1.42857143;
 border: 1px solid transparent;
 border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
 border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
 color: #555;
 cursor: default;
 background-color: #fff;
 border: 1px solid #ddd;
 border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
 width: 100%;
 border-bottom: 0;
}
.nav-tabs.nav-justified > li {
 float: none;
}
.nav-tabs.nav-justified > li > a {
 margin-bottom: 5px;
 text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
 top: auto;
 left: auto;
}
@media (min-width: 768px) {

 
.tab-content > .tab-pane {
 display: none;
}
.tab-content > .active {
 display: block;
}
.nav-tabs .dropdown-menu {
 margin-top: -1px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
} 





} 





/*--------------------------------------------------
   [47. Tabs]
----------------------------------------------------*/
/*Tabs*/
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-justified > li > a {
   border-radius: 0;
}

/*Tabs v2
------------------------------------*/
.tab-v2 .nav-tabs {
   border-bottom: none;
}

.tab-v2 .nav-tabs li a {
   /*padding: 9px 16px;*/
   background: none;
   border: none; 
   vertical-align:middle;
   color:#333;
}

.tab-v2 .nav-tabs li.active a {
   /*background: #fff;*/
   /*padding: 20px 15px 18px;*/
   /*border: solid 1px #eee;*/
   /*border-top: solid 2px #72c02c;*/
   /*border-bottom: none !important;*/
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
   color: #fff;
   background:none;
   border: none;
}

.tab-v2 .tab-content {
   /*padding: 10px 16px;*/
   /*border: solid 1px #eee;*/
}

.top_tab  {
   width:100%;
   margin:auto;
   background:#fff;
   font-size:25px;
   
   } 
a.nav-link {
   border-left: 1px solid #ccc;
   font-weight:bold;
   font-size:16px;
}
.top_tab .nav-item a {
   font-weight:bold;
   font-size: 19px;
   height:52px;
   text-align:center;
   
   }
/*.nav-item a {
   margin:0 25px;
   }*/

.top_tab .nav-tabs li {
    
   text-align:center;
   border-right:1px solid #D3D3D3;
       border-top:1px solid #D3D3D3;
   
   }
   
   
.top_tab .nav-tabs li.active {
     background:#25ACE4;
   }
    
   
.top_tab .nav-tabs li:last-child  {
   /*border-right:1px solid #666; */
   }
.bot_tab {
   width:100%;
   margin:auto;
   /*background:#216D8F;*/
   background:#182084;
   }
.bot_tab .nav-tabs li a {
   line-height:20px;
   margin:0 20px;
   color:#ffffff;
   }
.bot_tab .nav-tabs li:last-child  {
   margin-right: 50px;
   }

div.contents li.etc div.etc {word-break:normal;}
div.contents div.pc {word-break:break-all;}

 












































/* 추가내용 teb_penel_no_bs */

.util {
    width: 100%;
}

.control-label {
	font-weight: 600;
}
.dropdown-item {
	cursor: pointer;
}
.tabs_wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px; 
}
.tab_scroller {
	margin-left: 40px;
	width: calc(100% - 40px);
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.tabs_list {
	overflow-x: unset !important;
	overflow-y: unset !important;
	height: 40px;
	max-width: unset;
	width: fit-content;
	position: relative;
	display: flex;
	white-space: nowrap;
}
.tab {
	height: 40px;
	width: fit-content;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 0;
	display: inline-block;
	position: relative;
	border-radius: 5px 5px 0px 0px;
	margin-right: 4px;
	cursor: pointer;
	position: relative;
	z-index: 10;
	padding: 7px 10px 5px 10px;
}
.tab_placeholder {
	background: #eee;
	border: 1px dashed #ddd;
	margin-right: 6px;
	border-radius: 5px 5px 0 0;
}
.add_tab {
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
	transition: 0.3s;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #222;
	color: #fff;
}
.add_tab::after {
	content: '+';
	font-weight: 600;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: -2px;
	transform: translate(-50%, 0);
}
.add_tab:hover {
	background: #449aef;
}
.add_tab:active {
	transform: scale(0.9);
}
.tab_text {
	font-weight: bold;
	color: #555;
	pointer-events: none;
}
.active_tab {
	background: #222;
	border-color: #222;
	padding-right: 40px;
}
.active_tab .tab_text {
	color: #fff;
}
.active_tab .remove_tab {
	display: block;
}

.remove_tab {
	display: none;
	position: absolute;
	top: 10px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: #333;
	color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.22);
	border-radius: 50%;
	transition: 0.2s all ease;
}
.remove_tab::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 13px;
	content: '\f00d';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.remove_tab:hover {
	background: #449aef;
}



.tab_panel {
	display: none;
	height: 300px;
	background: #222;
	border-radius: 5px 0px 5px 5px;
	padding: 20px;
}
.tab_panel h5 {
	font-weight: bold;
	color: #eee;
	pointer-events: none;
	background: rgba(255,255,255,0.1);
	padding: 10px;
	border-radius: 5px;
}
.tab_panel p {
	font-weight: bold;
	color: #eee;
	background: rgba(255,255,255,0.1);
	padding: 10px;
	border-radius: 5px;
	max-height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow-wrap: break-word;
}
.active_panel {
	display: block;
}




/* width */
.tabs_panel p::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.tabs_panel p::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
.tabs_panel p::-webkit-scrollbar-thumb {
  background: #91a6ff; 
}
/* Handle on hover */
.tabs_panel p::-webkit-scrollbar-thumb:hover {
  background: #647ad9; 
}

/* width */
.tabs_list::-webkit-scrollbar, .tab_scroller::-webkit-scrollbar {
	height: 6px !important;
}
/* Track */
.tabs_list::-webkit-scrollbar-track, .tab_scroller::-webkit-scrollbar-track {
	background: #222 !important;
}
/* Handle */
.tabs_list::-webkit-scrollbar-thumb, .tab_scroller::-webkit-scrollbar-thumb {
	background: #444 !important;
	border-radius: 3px;
}
/* Handle on hover */
.tabs_list::-webkit-scrollbar-thumb:hover, .tab_scroller::-webkit-scrollbar-thumb:hover {
	background: #555 !important;
}
